[2017-11-10 00:29] #299 closed

[2017-11-10 00:30] ttgump commented on #299
I found the issue: I changed the CC and GCC to clang and clang++, if I delete these two variable, the issue solved.

[2017-11-10 14:00] denismolin commented on #259
maybe this will help: https://anaconda.org/r/r-git2r

[2017-11-15 22:52] ADraginda opened #300 "fetch with https?"
I'm trying to fetch with a repo that has https set

[code]

Gives me `Error in 'git2r_remote_fetch': unsupported URL protocol`

My repository object has

[code]

Going into my repo's config and choosing `http` instead of `https` resolve the issue but I feel like  I should be able to work with https? Am I doing something wrong or is it something with git2r?

[2017-11-20 09:31] ThierryO opened #301 "adding functions to work with git data repositories?"
I use git to to create data repositories. The idea is to store `data.frames` as tab delimited files in a git repository. I wrote some utility functions to make this easier, e.g. [`read_delim_git()`](https://github.com/inbo/n2khelper/blob/master/R/read_delim_git.R), [`write_delim_git()`](https://github.com/inbo/n2khelper/blob/master/R/write_delim_git.R), [`list_files_git()`](https://github.com/inbo

[2017-11-21 08:55] stewid commented on #301
@ThierryO that sounds like a great functionality to have in `git2r`. Please go ahead and create a pull request.

Thanks

[2017-11-22 14:01] ThierryO commented on #301
OK. I'll create a pull request in the upcoming weeks.

[2017-12-05 02:53] mdacampora opened #302 "gitr2 not installing R 3.4.2 / RStudio 1.1.383 / Conda 1.6.9"
I have checked some of the other issue posts to no avail. This is preventing me from installing devtools and a few other libraries I will need.

I am running Linux Mint 18.3 / Ubuntu 16.04

trying URL 'https://cran.rstudio.com/src/contrib/git2r_0.19.0.tar.gz'
Content type 'application/x-gzip' length 1155950 bytes (1.1 MB)
==================================================
downloaded 1.1 MB

* inst

[2017-12-09 22:52] LifeWorks commented on #204
I am having the same problem!

[2017-12-10 18:59] ayorgo commented on #302
Try installing `git2r` from the terminal: `conda install r-git2r`

[2017-12-10 19:23] stewid commented on #302
I have made a change to the configuration script. Does it work if you run the following from the command line?

[code]

[2017-12-11 13:27] ayorgo commented on #302
Thank you for the upgrade @stewid, but:
[code]

So it seems to have made progress with detecting the size of `void*` but now it's missing `zlib` which appears to be installed.

[2017-12-12 18:47] stewid commented on #302
@ayorgo I have updated the configure script. Could you please try again

[2017-12-13 20:00] stewid commented on #302
@ayorgo could you please try again.

[2017-12-13 23:45] ayorgo commented on #302
Nice and smooth run this time after `apt-get install libssh2-1-dev` :tada:

Thank you, @stewid!

[2017-12-14 13:32] ayorgo commented on #302
Interestingly, I've run the old (0.19.0) version from a different instance of RStudio (installed from cran binaries https://www.rstudio.com/products/rstudio/download/ rather than via conda) and it worked just fine. So conda may be a culprit in this case.

[2017-12-15 12:07] HenrikEckermann opened #304 "cannot install"
I get error when installing the package no matter which way. I have a anaconda distribution (r-essentials).

When I try using git, I get this error:
[code]

When using
[code]
in Jupyter, I get:

[code]

I get the same warning for many other packages I try to install. I google a lot but I cannot figure this out. In Rstudio, everything works fine (I installed a separate R for this and they are indep

[2017-12-16 17:16] stewid commented on #304
Hi,

You have to install/configure a compiler toolchain to build a package from source, see for example the "Getting started" section in "R packages" by Hadley Wickham, http://r-pkgs.had.co.nz/intro.html

[2017-12-16 17:16] #304 closed

[2017-12-17 20:29] HenrikEckermann commented on #304
That did not work....

[2017-12-18 19:59] nfultz commented on #294
I would also find this very useful - I am using git2r to maintain a common drat repo across four different projects - my CI has to clone and update the drat repo each build, which unfortunately includes every binary ever built ever - we are up to 75mb now, and it will only get slower.

I will take a look and see if this is straightforward to add.

[2017-12-18 20:05] nfultz commented on #294
It looks like this feature is still open upstream in libgit2 https://github.com/libgit2/libgit2/issues/3058

[2017-12-19 05:55] jennybc opened #305 "Supported R versions ... confirm support for R >= 3.0.2?"
DESCRIPTION says git2r works with R >= 3.0.2. There's some evidence from usethis that there may be trouble with R < 3.2 (https://travis-ci.org/r-lib/usethis/jobs/318456849). I haven't dug into it myself, FYI.

It would be good to include these older R versions in the Travis tests (e.g. via https://github.com/tidyverse/reprex/blob/master/.travis.yml). There's a nominal goal for packages in tidyvers

[2017-12-19 16:20] milti commented on #204
yes, having the same error on macOS 13.3.3:

error for compilation is:

clang -I/Library/Frameworks/R.framework/Resources/include -DNDEBUG -I. -Ilibgit2/src -Ilibgit2/include -Ilibgit2/deps/http-parser -I/usr/local/include -DGIT_ARCH_64 -I/usr/local/opt/openssl/include -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64 -DGIT_OPENSSL -DLIBGIT2_NO_FEATURES_H -DGIT_SHA1_COMMON_CRYPTO -DGIT_CURL -DGIT_USE_ICONV -DG

[2017-12-20 16:25] stewid commented on #305
Thanks for the suggestion to add older R versions in the Travis tests. I have replaced some function calls, e.g. `trimws` and can confirm that it now works from R 3.1 (https://travis-ci.org/ropensci/git2r). Maybe it's simplest to bump git2r depends to R (>= 3.1)?

[2017-12-20 16:27] stewid commented on #302
@ayorgo Thanks for testing.

[2017-12-20 16:27] #302 closed

[2017-12-20 16:32] jennybc commented on #305
Sounds reasonable. It seems unlikely that someone has been counting on the nominal support for R < 3.1, because I think it was a claim but not actually true (right?).

[2017-12-20 17:54] #305 closed

[2017-12-27 03:23] kevinushey opened #306 "segfault on 'remote_ls()' with R built with sanitizers"
I'm seeing the following:

[code]

With some extra backtrace annotations:

[code]

LLDB seems to suggest the crash is occurring here:

[code]

[2017-12-31 13:54] #306 closed

[2017-12-31 13:54] stewid commented on #306
Thanks

[2018-01-01 19:17] kevinushey commented on #306
Thank you for fixing this so quickly!

[2018-01-03 18:02] brry opened #307 "repository() - error with empty line in /.git/config"
If in an R package the `/.git/config` file contains an empty line at the end, `git2r::repository` returns the following error:
[code]

https://stackoverflow.com/q/47972548/1587132

[2018-01-04 19:05] stewid commented on #307
I submitted a new version 0.21 to CRAN yesterday. Could you please check if it works with the new version, or if that also returns an error.

Thanks

[2018-01-04 22:10] brry commented on #307
Yes, in the new version it works fine. Thanks so much!

[2018-01-04 22:10] #307 closed

[2018-01-05 20:30] #18 closed

[2018-01-06 16:47] stewid commented on #298
I have submitted a new version 0.21 to CRAN. Could you please check if it works with the new version, or if that also causes session to hang.

Thanks

[2018-01-06 19:00] jemus42 commented on #298
I tried re-checking but right now I only get the following error in 0.20 and the current 0.21:

[code]

With no further explanation, which has me a little baffled since I don't know what might have changed with my setup. I have the `GITHUB_PAT` environment variable set to a valid token.
So... I can't really check the issue at hand without this devolving into a separate issue thread.

[2018-01-08 16:52] Nabeelgujjar opened #308 "Cant Install Git2r or devtools centos 6.8"
Selection: 1
also installing the dependency ‘git2r’

trying URL 'https://cloud.r-project.org/src/contrib/git2r_0.21.0.tar.gz'
Content type 'application/x-gzip' length 1155512 bytes (1.1 MB)
==================================================
downloaded 1.1 MB

trying URL 'https://cloud.r-project.org/src/contrib/devtools_1.13.4.tar.gz'
Content type 'application/x-gzip' length 486348 bytes (474 KB)
=

[2018-01-08 23:23] thomascjohnson opened #309 "Setting upstream and RStudio"
Hi! I believe this problem I'm having is related to this issue: https://github.com/ropensci/git2r/issues/133

I would like to be able to initiate a repository, push to it and set the upstream to the master and then be able to use git with RStudio, but it seems that RStudio's git functionality won't work until the user runs something like `git push -u origin master`

It seems like in that previous

[2018-01-09 00:20] jennybc commented on #309
I think most/all of what you want is implemented in `usethis::use_github()`: https://github.com/r-lib/usethis/blob/master/R/github.R

Which you could either use or take the code as inspiration.

[2018-01-09 00:57] thomascjohnson commented on #309
@jennybc you're a patron saint of R programmers

[2018-01-09 19:33] #176 closed

[2018-01-09 19:54] stewid commented on #176
Fixed

[code]

[2018-01-10 21:03] stewid opened #310 "[WIP] Change S4 methods to standard R functions"

[2018-01-10 21:44] jennybc commented on #310
Very interesting title! What do you have planned? I basically have a whole package-worth of thoughts on related issues 🙂

https://github.com/jennybc/githug

Now, that is designed to talked to git and GitHub but still .... There's more in a private repo and also a design doc.

[2018-01-10 22:11] stewid opened #311 "Change default repo argument in functions to ".""
Change the repo argument in functions to accept both a git_repository object and a path and make "." the default.

[2018-01-10 23:19] stewid commented on #310
I want to simplify the design and with this change, most of the R functions are one-liners. I also want to replace the S4 classes with S3.

I think the functionality and user-interface of your githug package are really nice with very descriptive function names. I think we should merge these two projects 😃

[2018-01-10 23:38] #117 closed

[2018-01-10 23:54] jennybc commented on #310
Cool! I'll know more about my priorities about a month from now, after my team has done more 2018 planning. But I can already state I am very interested in supporting this effort one way or another!

[2018-01-12 12:06] #311 closed

[2018-01-14 07:53] stewid opened #312 "[WIP] Change S4 classes to S3"
- [x] cred_env
- [x] cred_ssh_key
- [x] cred_token
- [x] cred_user_pass
- [x] git_blame
- [x] git_blame_hunk
- [x] git_blob
- [x] git_branch
- [x] git_commit
- [x] git_diff
- [x] git_diff_file
- [x] git_diff_hunk
- [x] git_diff_line
- [x] git_fetch_head
- [x] git_merge_result
- [x] git_note
- [x] git_reference
- [x] git_reflog_entry
- [x] git_repository
- [x] git_signature
- [x] git_stash
- [x] gi

[2018-01-14 10:45] #276 closed

[2018-01-15 06:42] wcornwell commented on #308
I'm also having an issue installing git2r on Centos, which seems like it's the same as above or at least related.  For me this installed fine with R 3.3, so maybe it's something with R 3.4?

[2018-01-17 01:02] wcornwell commented on #308
more info, in my case it's CentOS 6.3:

[code]
and error message

[code]

[2018-01-17 02:46] wcornwell commented on #308
Seems like it was about R finding the path to libssh2.  With some help from a linux guru, this worked for me:

[code]

mileage may vary...

[2018-01-18 21:24] stewid commented on #308
Thanks

[2018-01-18 21:24] #308 closed

[2018-01-20 01:39] ijlyttle opened #314 "Windows and defaults for cred_ssh_key()"
Hi,

This follows a discussion that @jennybc and I were having over at jennybc/happy-git-with-r#74.

----

### Setup

As I understand, the defaults key locations for `cred_ssh_key()` are `publickey = "~/.ssh/id_rsa.pub"` ,  and `privatekey = "~/.ssh/id_rsa"`.

On Windows, I run into an issue with the `"~"` directory,

[code]

[code]

because the location used by the RStudio IDE is `"C:/Users/usern

[2018-01-20 01:46] jennybc commented on #314
I will also point out that this logic is built into RStudio itself:

https://github.com/rstudio/rstudio/blob/32fca75c5a69ef3eb5b74d3b2907ca08d51ffcc3/src/cpp/session/modules/SessionVCS.cpp#L182-L196

So RStudio will place SSH keys here and look for them here. It appears to be the norm on Windows.

[2018-01-20 02:24] nfultz opened #315 "Windows git2r sometimes can't add files to repo"
In https://github.com/eddelbuettel/drat/pull/70 Dirk Eddelbuettel and I found inconsistent behavior on windows and linux when trying to add files to a repo. On linux, `setwd()` to a subfolder (in this case, `bin/windows/contrib/3.4` and adding the file as `bin/windows/contrib/3.4/drat_0.1.4.zip` works consistently, but on windows, it works for him but not for me. That ticket has an example script

[2018-01-20 16:29] stewid commented on #314
@ijlyttle Thanks for reporting this and please go ahead and create a pull request to improve the defaults.

[2018-01-20 16:30] stewid commented on #309
Thanks

[2018-01-20 16:30] #309 closed

[2018-01-20 16:49] ijlyttle commented on #314
Will do!

[2018-01-22 21:56] stewid commented on #315
@nfultz Thanks for reporting this issue. I'll take a look at it.

[2018-01-22 23:27] nfultz commented on #315
I think dirk and I have tracked it down to a differing behavior of
normalizePath on windows vs linux - for file names that don't have globs,
it would be helpful to fail a bit more noisily.

On Mon, Jan 22, 2018 at 9:56 PM, Stefan Widgren <notifications@github.com>
wrote:

[2018-01-29 18:22] #312 closed

[2018-01-30 18:48] #314 closed

[2018-01-30 19:22] #310 closed

[2018-01-30 20:36] #293 closed

[2018-01-30 20:37] stewid commented on #293
I have added `fail` to merge

[2018-01-31 17:56] stewid commented on #247
This is an example to illustrate that it is now possible to reset a file from a repository where there aren't yet any commits

[code]

[2018-01-31 17:56] #247 closed

[2018-01-31 18:06] #281 closed

[2018-01-31 19:22] nfultz commented on #315
To follow up, the root cause of the issue would have been much easier to track down if in the `add()` function, you only `suppressWarnings` on the `normalizePath` if there is a glob character in the file name, and otherwise let the warning surface - `normalizePath` apparently behaves differently on linux vs windows when the file doesn't exist.

[2018-02-12 21:52] jdblischak commented on #293
Thanks so much for implementing this, @stewid! I ran your unit tests, and everything looks good.

[2018-02-12 22:28] jdblischak commented on #312
What's the timeline for releasing this new version to CRAN? The change from S4 to S3 is going to break  my projects that rely on git2r.

[2018-02-14 20:47] stewid commented on #312
At the moment, I don't know. I'm waiting for the next release of libgit2 (version 0.27).

[2018-02-15 14:29] jdblischak commented on #312
OK. For now I've pinned my package to depend on git2r <= 0.21.0. Please do let me know if you'd like me to test anything out as you make this upgrade. Thanks for all your hard work on this very useful package!

[2018-02-17 02:04] jennybc opened #318 "Path to global (i.e. user-level) git config and ignores"
Does libgit2 offer a way to get the path to user's git config and gitignore file, if one can be found?

If so, could git2r expose that?

I know this seems somewhat trivial, but there's more variety than first meets the eye and it would be nice to know what file libgit2 and therefore git2r is editing.

[2018-02-17 09:25] stewid commented on #318
I have added the `config_find_global` method to expose [git_config_find_global](https://libgit2.github.com/libgit2/#HEAD/group/config/git_config_find_global) in libgit2.

Currently, git2r is only using a small subset of the config API in libgit2, so I think the config functionality in git2r can be improved a lot.

I have not found something similar for gitignore

[2018-02-17 09:30] #242 closed

[2018-02-17 18:32] jennybc commented on #318
Thanks! Knowing the path to global (user) git config is already very handy. If there is a global gitignore, it will be described there.

This relates to #314 and the fact that "git home" is ambiguous on Windows. And the diversity described here: <https://git-scm.com/docs/git-config#FILES>

[2018-02-17 18:32] #318 closed

[2018-02-17 18:34] jennybc commented on #318
Hmmm ... although now I see that libgit2 basically punts on this issue:

Maybe it is still helpful in the Windows case ...

[2018-02-17 18:37] jennybc commented on #318
Oh they have separate functions for all of those possibilities:

  * [git_config_find_programdata](https://libgit2.github.com/libgit2/#HEAD/group/config/git_config_find_programdata)
  * [git_config_find_global](https://libgit2.github.com/libgit2/#HEAD/group/config/git_config_find_global)
  * [git_config_find_xdg](https://libgit2.github.com/libgit2/#HEAD/group/config/git_config_find_xdg)

[2018-02-17 19:31] stewid commented on #318
The priority level of a config file in libgit2 is https://github.com/libgit2/libgit2/blob/HEAD/include/git2/config.h#L24. It seems to be the same order.

Would it make sense to have a function `config_find` that returns a list with path-items (or NULL if missing) to each config file?

[2018-02-17 19:41] jennybc commented on #318
Yes, something like that would be very handy! Not sure if it should be a named list or a data frame. I think the former is more consistent with current git2r. The latter is more natural in my "tidy" mindset (one row per potential config file, a variable for something like that git2r enum, a variable for paths where `NA` means not found).

[2018-02-18 13:29] stewid commented on #318
The data frame idea sounds great. I have replaced `config_find_global` with `git_config_files` that returns a data frame. Please give it a try. I'm not sure if `level` is a good column-name?

[code]

[2018-02-18 16:52] jennybc commented on #318
Works for me on Mac. Will post separate comment showing my problem on Windows.

I actively affirm this order (vs the reverse), because it works nicely with a `modifyList()`-type approach.

The variable name ... I suppose `file` or `config_file` is an alternative to `level`. It makes sense with how you talk about these files: "the global git config file vs the system config file".

FWIW I think "sy

[2018-02-18 16:56] jennybc commented on #318
Now posting from my Windows VM. I installed this version (took a long time to build!).

I get this:

[code]

But I can get help on that function, for example. Not sure what's up.

[2018-02-18 17:35] stewid commented on #318
Thanks.

Re: variable name. I change to file

Re: programdata. After thinking about this little more, I think the logic can be improved. From the comments in libgit2 it's a system-wide config file for PortableApps on Windows. Therefore, I think it can be dropped from the data.frame and instead improve the code to try to locate one system-wide config file on Windows.

Re: Windows failure. Strange.

[2018-02-18 19:25] stewid commented on #318
Re windows; I added a test to run `git_config_files` in 09fc43b4bcaf2d598e5e5c0a4ed35b345680ac26 and it works on AppVeyor. Maybe I fixed something when I changed the variable name and removed programdata?

[2018-02-19 20:09] jdblischak opened #319 "libgit2_features() always returns FALSE for HTTPS"
I am able to use the HTTPS protocol to push and pull using git2r on Ubuntu (17.10), macOS (10.10.5), and Windows (10), but `libgit2_features()` always returns `FALSE`. Furthermore, during the package installation, git2r reports that HTTPS is enabled. I don't have the same problem with SSH, i.e. `libgit2_features()` returns `TRUE` if I have LibSSH2, and `FALSE` otherwise.

Below is a reproducible e

[2018-02-19 20:52] stewid commented on #319
Thanks for reporting this. Fixed in f52b06c6f63793d58daea0e20c35ae82ccee62de

[2018-02-19 20:53] #319 closed

[2018-02-20 01:54] jdblischak commented on #319
@stewid Great! Thanks for the quick response. I confirmed that the fix works on all 3 operating systems.

[2018-02-22 01:46] dhicks opened #323 "installation error: undefined symbol: BIO_meth_set_read"
I'm trying to install `git2r` on a Linux box.  I don't maintain this system, so I don't know the details about how it's configured.  I also don't have su / root access.

Both the `install.packages("git2r")` and `make install` (from a freshly-cloned repo) methods give the same error:
[code]

I'm attaching a log file piped from `make install`.

[install_attempt.log](https://github.com/ropensci/git2r

[2018-02-22 16:18] jdblischak opened #324 "Feature request: rev-list to list commits that affect a given file"
I would really like a quick and convenient way to obtain the commits that affect a given file. In Git, this can be done with the porcelain command `log` or the plumbing command `rev-list` ([git-rev-list](https://git-scm.com/docs/git-rev-list)). For example, to obtain the commits that affect the file `CONTRIBUTING.md` in this repo:

[code]

libgit2 has an implementation of rev-list in its examples

[2018-02-22 18:59] stewid commented on #323
It seems from the log that the build configuration finds openssl. But for some reason it fails to find the path to the library and instead tries to build against a newer version of the openssl library with the BIO_meth_set_read function. Maybe it works if you try something similar to #308 where you instead add the path to openssl.

[2018-02-22 19:20] dhicks commented on #323
I created `~/.R/Makevars`, and added the line

    SHLIB_LIBADD=-Wl,-rpath,/usr/local/bin/openssl

with the path for openssl.  But I'm still receiving the same error.

[2018-02-22 19:34] stewid commented on #324
I'm using rev-walk in https://github.com/ropensci/git2r/blob/master/src/git2r_revwalk.c but if I remember correct it's not yet possible to filter by filename.

One way to achieve this now is to extract all blobs in the repository and then filter by filename. It's not super fast (takes ~7s on my machine) but I suspect it's faster than inspecting every commit.

[code]

[2018-02-22 19:56] stewid commented on #323
Does it work if you try to install from the command line with
[code]
where you replace INCLUDE_PATH and LIB_PATH with your paths

[2018-02-22 20:31] jdblischak commented on #324
Thanks for the tip, @stewid. I should have asked for advice long ago. On my local machine, I get similar speeds to you. Unfortunately on my University HPC `odb_blobs()` is super slow (this is where my current approach is also particularly slow, which is I why I'm looking for speed improvements).

Throwing some ideas out there:
1. Would it be possible to cache the results of `odb_blobs()`? This way

[2018-02-23 00:02] dhicks commented on #323
Sorry, would those be the same as the openssl paths?  `which libssl` doesn't turn up any matches.

[2018-02-23 13:53] tomschloss commented on #204
I'm using macOS 10.13.3

`brew install openssl` works for me.

Perhaps this is the underlying issue (output from openssl install)?

`This formula is keg-only, which means it was not symlinked into /usr/local,
because Apple has deprecated use of OpenSSL in favor of its own TLS and crypto libraries.`

[2018-02-23 19:18] jdblischak commented on #324
@stewid Turns out `odb_blobs()` was really slow on my HPC was because I had been using that repo for a long time (whereas the one cloned to my local machine was newer). Running [git gc](https://git-scm.com/docs/git-gc) reduced the number of objects from 3,249 to 1, which obviously made it run much faster.

[2018-02-23 21:25] stewid commented on #324
Thanks, that is a very useful trick to speed things up.

I found a discussion in libgit2 about this feature https://github.com/libgit2/libgit2/issues/3041

[2018-02-23 21:31] jdblischak commented on #324
Yep! That's exactly what I'm looking for.

[2018-02-23 23:15] stewid opened #325 "Change to use SHA1DC for SHA1 backend"
Change from using the SHA1 implementation from the OpenSSL library to using the collision detection algorithm SHA1DC in libgit2 https://github.com/libgit2/libgit2/commit/e7495ce6f4dee156b6a1d48a4d478c83d1053236. With this change it should be possible to build git2r without the need for dependencies.

[2018-02-24 00:16] jennybc opened #326 "trying to get slot "sha" from an object (class "git_commit") that is not an S4 object"
Just ran `devtools::release()` with dev devtools and dev git2r and got this message at the very end.

[code]

Is this an issue for git2r or devtools? Perhaps devtools should be using an accessor vs. directly accessing a slot...

[2018-02-24 07:59] stewid commented on #326
I think we need a `sha` accessor function in git2r so that the example above can be rewritten as `substr(sha(commit), 1, 10)`

[2018-02-24 16:32] jennybc commented on #326
I'll close this since the S4 --> S3 transition is clearly already something that's getting some thought. It was a good example of how accessing slots via `@` is going to be an issue for revdeps.

[2018-02-24 16:32] #326 closed

[2018-02-24 19:16] stewid commented on #326
I have created a branch `S4-classes` from the lastest release (tag v0.21.0). Moreover, I have added an accessor function `sha` in both `master` and `S4-classes`.

[2018-02-24 21:54] ijlyttle opened #327 "Problem with SSH on Windows"
Hi,

A colleague and I noticed this behavior on Windows, using the CRAN version of git2r:

[code]

This used to work for me, but now it does not.

My colleague pointed out this recent notice from GitHub:

https://github.com/blog/2507-weak-cryptographic-standards-removed

We also came across people having a similar problem in git-up/GitUp#241

The commonality between the two seems to be the use of

[2018-02-24 22:17] stewid commented on #327
@ijlyttle Thanks for reporting this.

@jeroen I think an updated version of libssh2 is needed to fix this, could you please update to 1.8 on https://github.com/rwinlib/libssh2

[2018-02-25 13:23] #327 closed

[2018-02-25 13:24] jeroen commented on #327
OK. @ijlyttle can you try the dev version? Make sure `git2r` is __not loaded in R__ while you upgrade it:

[code]

[2018-02-25 14:50] ijlyttle commented on #327
I have tested the dev version on MacOS and Windows - Mac seems to be OK.

However, on Windows:

[code]

I don't even get to the point where I am asked for my ssh passphrase, so I suspect there is something else going on here.

[2018-02-25 15:17] jeroen commented on #327
Was this issue caused by the upgrade of libgit2, or was it maybe not working before either?

[2018-02-25 15:36] ijlyttle commented on #327
I suspect it was not working before.

[2018-02-25 15:52] jeroen commented on #327
Could you open a new issue for this to make sure these problems do not get mixed up?

[2018-02-25 16:01] ijlyttle opened #329 "Windows - Invalid repository"
This started with #327, but I suspect that this is a separate issue because it occurs before `cred_ssh_key()` can ask me for my passphrase.

I am using dec6ef9 on Windows 10

[code]

[2018-02-25 20:48] stewid commented on #327
Thanks @jeroen

I'm currently changing from S4 classes to S3 in the 'master' branch and I'm not ready to submit it to CRAN yet. I have therefore cherry-picked the fix to the `S4-classes` branch. @ijlyttle  could you please check that branch instead.

Unfortunatly, I get the following error on winbuilder
[code]
which I think is also caused by the recent change on GitHub. @jeroen do you think that i

[2018-02-25 20:56] jeroen commented on #327
Yes it's because of https://twitter.com/opencpu/status/966785019560775685

Hopefully winbuilder will be updated soon.

[2018-02-25 22:05] ijlyttle commented on #327
@stewid, using the S4-classes branch (e7f28e3), I am still getting this on Windows 10:

[code]

[2018-02-26 09:54] stewid commented on #329
Please try `master` branch again

[2018-02-26 13:33] ijlyttle commented on #329
Using master branch, c8d86cc, I'm afraid I'm still getting the same thing.

[2018-02-26 19:01] ijlyttle commented on #329
Yes - exactly the same error.

[2018-02-26 19:51] djm158 opened #330 "Failed to start ssh session on Ubuntu LTS"
I am trying to install a package in a VSTS repository via `devtools` and getting this error:

`Installation failed: Error in 'git2r_clone': failed to start SSH session: Unable to exchange encryption keys`

I have installed `libssh2-1` and `libssh2-1-dev` from apt-get

[code]

and then re-installed `git2r` following [this stackoverflow post](https://stackoverflow.com/questions/33294383/devtoolsinst

[2018-02-27 06:55] stewid commented on #329
If you run
[code]
does it return `TRUE` or `FALSE`?

[2018-02-27 07:00] stewid commented on #330
Are you using the latest version 1.8 of libssh2?

[2018-02-27 13:46] ijlyttle commented on #329
`TRUE`

[2018-02-27 15:09] djm158 commented on #330
Apparently Ubuntu Xenial's latest version is 1.5. I tied installing 1.8 from source but now when I try to reinstall git2r I'm getting the following error:

Error: package or namespace load failed for ‘git2r’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/usr/local/lib/R/site-library/git2r/libs/git2r.so':
  libssh2.so.1: cannot open shared object file: No such file or di

[2018-02-27 21:43] stewid commented on #330
Thanks

[2018-02-27 21:43] #330 closed

[2018-02-28 01:14] RafalLukawiecki commented on #204
Same issue

[2018-02-28 16:27] pat-s commented on #296
Is there meanwhile any solution to this?

[2018-03-01 19:20] jeroen commented on #327
FYI the win builder is fixed now.

[2018-03-05 18:54] nfultz opened #331 "HTTPS remotes failing on MacOS via TLS 1.0 / 1.1"
On our travis CI, we push to a drat repo on github - we seem to be getting the following error message now:

[code]

[code]

from here https://travis-ci.org/DeclareDesign/estimatr/jobs/345799903

GitHub recently changed their encryption, which is probably related - https://blog.github.com/2018-02-23-weak-cryptographic-standards-removed/

[2018-03-05 21:23] nfultz commented on #331
Also this seems to only effect Mac builds.

[2018-03-06 20:09] nfultz commented on #331
This also appears to affect eddelbuettel/drat and r-lib/devtools

[2018-03-07 00:31] nfultz commented on #331
This is what github support wrote to me:
[code]

[2018-03-07 07:38] stewid commented on #331
Does it work if you build git2r against the latest versions of OpenSSL and libssh2?

[2018-03-07 19:48] nfultz commented on #331
Bryce (@amoeba) rebuilt from master and had git2r::clone work - here is his sessionInfo() -
[code]

[2018-03-07 19:51] nfultz commented on #331
He has:

[code]

installed.

[2018-03-07 22:42] nfultz commented on #331
Adding

[code]

to our travis config seems to make it work. Any chance of getting that version on CRAN reasonably soon?

[2018-03-08 16:01] jeroen commented on #331
@nfultz that won't fix it. The difference is that when `git2r` is installed from source on travis it links against homebrew openssl/libssh2. However the binary package for `git2r` as built on cran links against whatever old static libs they have on the cran build server.

[2018-03-08 21:14] stewid commented on #331
I have changed the build configuration script to set the libgit2 definition `-DGIT_SECURE_TRANSPORT=1` on macOS to use the Security and CoreFoundation framework for https backend (https://github.com/libgit2/libgit2/blob/master/src/CMakeLists.txt#L136)

Does it work to clone after that change?

[2018-03-09 16:08] jeroen commented on #331
@stewid great that's a much better solution!

[2018-03-09 18:47] jennybc commented on #331
In the name of making problem & resolution more discoverable, this issue is really about `git clone` via HTTPS on macOS, right? I'm sure it would also affect `git push`, but AFAICT the original problem is a clone of a public repo.

There's a lot going on in the git/git2r space and this might help people isolate different issues.

[2018-03-09 19:37] nfultz commented on #331
It also only affects GitHub I think (haven't tried another host)

On Fri, Mar 9, 2018, 10:47 AM Jennifer (Jenny) Bryan <
notifications@github.com> wrote:

[2018-03-10 10:39] stewid commented on #325
Completed in bff5a2195306d99622740fe9629f9bb5a32fb973

[2018-03-10 10:39] #325 closed

[2018-03-10 14:20] stewid commented on #318
I have changed `git_config_files` to return a named list instead of a data.frame.

I don't know why, but when I called `git_config_files` with valgrind enabled (R -d valgrind) I got the following output.
[code]

However, it's ok after I changed to return a named list

[code]

Therefore, it's now a list.

[2018-03-10 14:53] stewid commented on #329
I have still not been able to reproduce the issue. However, I ran the tests with valgrind (https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Using-valgrind) enabled and found some problems that I have fixed. I have also updated the bundled libgit2 to the latest commit.

Could you please try the master branch again?

[2018-03-10 15:01] stewid opened #332 "New R CMD check warning"
After updating the bundled libgit2 library to https://github.com/libgit2/libgit2/tree/d11c4a1a464f10c69d5cc58824e980ea5045d439

[code]
See https://github.com/libgit2/libgit2/pull/4571

[2018-03-10 17:11] ijlyttle commented on #329
I'm afraid I get the same responses as before for `git2r::push()`, `git2r::repository_head()` and `.Call(git2r:::git2r_repository_can_open, repo$path)`.

Using 17ce2e1eaca2b6860e8ac2e4b5ac89fe2f5aff96.

[2018-03-10 20:54] jennybc commented on #318
FWIW I had several instance of "Conditional jump or move depends on uninitialised value(s)" in valgrind results for readxl *on MacOS only* that we eventually determined were false positives. Have no idea, though, if applies here.

If you'd prefer the data frame (I think I do, but obviously your call), seems like you could populate a list (or even character vector) as you are now with the `.Call()`

[2018-03-11 20:33] RafalLukawiecki commented on #204
Further info on this issue on macOS 10.13.3. The above error only seems to affect me if openssl has been installed using macports. (Re)installing openssl using homebrew made the issue go away. I suppose it is a matter of the libraries not being in the expected paths, as per earlier comments.

[2018-03-13 18:01] jdblischak commented on #324
@stewid I'm a little confused by the correspondence between the SHAs recorded in the log and those recorded by the blobs. I wasn't surprised that some SHAs appear only in the log. As I expected, these were from merge commits (and also commits that only deleted files). However, there are also SHAs that are only returned by `odb_blobs()` but not `commits()`. As a concrete example, the git2r repo has

[2018-03-13 20:53] jimhester commented on #331
FWIW this also breaks `git2r::remote_ls()` against GitHub repositories, which is used by devtools.

I have confirmed that installing devel git2r fixes this issue.

[2018-03-13 21:30] jimhester commented on #331
Btw this issue effects the CRAN release of devtools pretty heavily on macOS, because it uses `git2r::remote_ls()` to retrieve the remote sha and determine if it needs to reinstall an existing package.

So getting a new version of git2r on CRAN with these changes sooner rather than later would be helpful!

[2018-03-14 16:12] jdblischak commented on #324
Just a quick follow-up. I was able to confirm that I can create these blobs with `git commit --amend`. Not sure if that is the only way to create them though.

Would it be possible to add an argument to `odb_blobs()` to only return blobs that are connected to a commit? Right now I am filtering the blobs with the full Git history, but that will get slow as the number of commits increases.

[2018-03-15 17:05] bigpas opened #333 "scribe"

[2018-03-15 17:06] #333 closed

[2018-03-19 16:17] surmann opened #334 "Windows - This 'path' is not a git repository"
Hallo,

I get this error since some days with this code:

    library(git2r)
    repo = repository(".")
    # Fehler in repository(".") : The 'path' is not in a git repository

I use version `0.21.0.9002`

Best regards,
Dirk

[2018-03-19 18:10] urwa commented on #299
Hi,

Can you explain how you deleted these two variables?

[2018-03-19 23:07] stewid commented on #334
Thanks for reporting this. I have made an update to the git2r code.
Could you please try again and see if it works.

[2018-03-20 13:26] surmann commented on #334
I get the same error.

Is it possible to check the commit of the loaded package version?

[2018-03-20 16:26] stewid commented on #334
Does the following return `NULL` or the path to the repository?

[code]

No, that is not possible.

[2018-03-20 17:03] jennybc commented on #334
`devtools::session_info()` does reveal the SHA if you've installed from GitHub, I believe.

But not if you install from local clone.

[2018-03-21 13:32] surmann commented on #334
@stewid This returns `NULL`. I used commit #198b4d6
@jennybc Thanks!

[2018-03-21 20:49] stewid commented on #334
@surmann thanks. Does it return `NULL` if you give the full path to the repo e.g.

[code]

[2018-03-22 06:21] ttgump commented on #299
In .R/Makevars, comment the lines:
# CC=/usr/local/opt/llvm/bin/clang -fopenmp
# CXX=/usr/local/opt/llvm/bin/clang++

[2018-03-22 08:58] surmann commented on #334
Ah! When I use `discover_repository(".")` inside a git repo, it returns the path plus `/.git/`.

[2018-03-23 20:18] djm158 commented on #296
Does `Sys.getenv()` return any of the following?

- `SSH_AGENT_PID`
- `SSH_AUTH_SOCK`
- `SSH_CLIENT`
- `SSH_TTY`

I usually have to run the following to get ssh to work:

eval \`ssh-agent\`
ssh-add

assuming your public/private keys are in `~/.ssh/id_rsa.pub` and ~/.ssh/id_ras`, respectively.

[2018-03-23 20:33] jdblischak commented on #296
A hacky workaround to define the environment variable `SSH_AUTH_SOCK` in your R session is to create `~/.Rprofile` with the following lines:

[code]

This code will be executed every time R is started, and it will read the value of `SSH_AUTH_SOCK` defined in your bash session.

And for what it's worth, on my Ubuntu 17.10 setup, `SSU_AUTH_SOCK` is defined both in bash and in R, so it is possible fo

[2018-03-26 22:12] pat-s commented on #296
Indeed, `SSH_AUTH_SOCK` was not defined. Solved it on Arch by following the [wiki instructions](https://wiki.archlinux.org/index.php/SSH_keys#Start_ssh-agent_with_systemd_user).
I thought initially everything was fine as I used ssh with github all the time but there seem to be differences.

[2018-03-26 22:45] pat-s opened #335 "git_clone: error authenticating: failed connecting with agent"
OS: Arch Linux

Using `git2r` in `usethis::create_from_github()`:

[code]

However, when specifying the credentials explicitly, everything works:

[code]

My `ssh-agent` is running and I've added the ssh key to the agent.

[code]

[2018-03-27 09:44] pat-s commented on #335
Update:

I specifically set `$USERPROFILE` as recommended in http://happygitwithr.com/ssh-keys.html#git2r-or-some-other-tool-cant-find-ssh-keys-on-windows. It was empty before.

Now I see:

[code]

but it still does not work.

[2018-03-27 17:47] jennybc commented on #335
I don't think `USERPROFILE` will have any effect on Linux.

Is your SSH key protected by a passphrase?

[2018-03-27 17:58] pat-s commented on #335
Hi Jenny,
No protection of my keys. They have the standard 600 permission value for ssh keys.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-03 16:31] jennybc opened #337 "Can't push via HTTPS without explicit credential"
In general, I use SSH these days, but I just returned to an old project still set up for HTTPS. I took this chance to exercise git2r's https functionality a bit.

I'm trying to push to GitHub. I use 2FA on GitHub, so I need to send my PAT as the password. I have this PAT stored in the osxkeychain helper and system Git is finding and using that. That is, `git push` works just fine.

However git2r i

[2018-04-03 16:32] jennybc commented on #337
Is there a way to go into some sort of verbose mode and see what "supplied credentials" git2r is sending?

[2018-04-04 03:19] oganm opened #338 "pull returns a "git_merge_result" object while documentation says NULL"
Sorry this could be a quick pull repo but don't have the time for it now. Can return to it later. Documentation for `pull` states that it returns an `invisible(NULL)` but this is not accurate. In reality it returns a `merge_named_branch` object

[2018-04-09 20:16] nzbart opened #339 "Feature request: specify branch to get commits from"
Is it possible to add a parameter to the `commits` function to allow callers to specify the branch to get commits from? It appears to me that it is currently only possible to get commits from the currently checked out branch. It would be much faster and less disruptive if I could list commits from multiple branches without checking the branches out first.

[2018-04-11 15:46] jdblischak opened #340 "Empty directory can hide unstaged changes with status(untracked = FALSE)"
I found an edge case when trying to use `commit(repo, all = TRUE)`. All the files with unstaged changes were included in the commit except one. I tracked the behavior down to the call to `status` on [line 113](https://github.com/ropensci/git2r/blob/198b4d648aeab8553b891dfb25ce4fe8a48cb64c/R/commit.R#L113). When there is an empty directory, `status(repo)` and `status(repo, untracked = FALSE)` can g

[2018-04-26 14:19] surmann opened #341 "'git2r_clone': unknown certificate check failure"
I tried to clone different repositories from GitHub. They all failed with the message `Error in 'git2r_clone': unknown certificate check failure`. It was possible to install the packages via `devtools::install_github`.

Do you have an idea, how to fix this issue?

* Windows 7
* R 3.5.0
* git2r 0.21.0.9002 (ropensci/git2r@abde59e)

[2018-04-26 21:09] stewid commented on #332
Fixed fe41e547c0c3af3200dd315e270062c16102a984

[2018-04-26 21:09] #332 closed

[2018-04-27 10:03] surmann commented on #334
@stewid `discover_repository("c:/path/to/repo")` from somewhere returns `"c:/path/to/repo/.git/"` as well as `discover_repository(".")` from the root directory of the git repo.

Does this help to solve this issue?

[2018-04-27 11:57] surmann commented on #334
I try to install the current master version via `devtools`. Is it necessary to have a cygwin installation on my machine? It was not mandatory for the last git version of git2r, wasn't it?

[2018-04-27 19:28] jennybc opened #342 "should there be a sha method for git_branch objects?"
Excuse me if I just haven't played with the new version enough yet.

I want the SHA of HEAD. It feels like this should work:

[code]

Created on 2018-04-27 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

What would be the best workflow for my task?

[2018-04-27 21:06] #342 closed

[2018-05-01 22:00] AceM1188 commented on #259
Was wondering if any of these solutions (or that mentioned by https://github.com/IRkernel/IRkernel/issues/542) worked for R version 3.5.0?

I've tried installing devtools or git2r by `install.packages("devtools")` or `install.packages("git2r")` but neither are installing for me. When installing I get the aforementioned errors "...had non-zero exit status".

The error message I receive for installi

[2018-05-02 06:59] trosendal commented on #259
You are mis-specifying 'el-capitan' as 'elcapitan'. Also, I could not resolve the host: "cran.revolution..." that you are using so you could try the r-studio host below:

    install.packages("git2r",
                      repos = "https://cran.r-project.org",
                      type = "mac.binary.el-capitan")

Also, for future readers of this thread you can find the appropriate name of the bin

[2018-05-02 13:05] surmann commented on #334
This works:

    List of 1
     $ path: chr "C:/path/to/repo/.git"
     - attr(*, "class")= chr "git_repository"

[2018-05-02 21:19] kgoldfeld opened #343 "Error in 'git2r_remote_fetch when trying to release r package to CRAN"
This is a new problem for me. When I am trying to submit my package to CRAN using devtools::release, I get an error message that indicates a problem related to git2r. I am running R version 3.5.0 on windows system x86_64, and RStudio 1.1.447.

The first case is with git2r version 0.21.0:

Running Git checks for simstudy
Checking uncommitted files... OK
Checking if synched with remote branch...
ERR

[2018-05-03 02:07] AceM1188 commented on #259
Thanks @trosendal, that worked.

[2018-05-03 21:31] #338 closed

[2018-05-03 21:31] stewid commented on #338
Thanks

[2018-05-11 14:27] kgoldfeld commented on #343
I updated to the development version of devtools and git2r on my Mac (git version 2.16.3, OS X 10.13.4, R 3.5.0) and everything worked well. Thanks.

[2018-05-11 14:27] #343 closed

[2018-05-15 13:13] surmann commented on #341
I tried commit 91a169d. It works with `https`. Using `SSH` results in `Error in 'git2r_clone': error authenticating: failed connecting agent`. I think this is because of a missing SSH check possibility.

[2018-05-15 13:13] #341 closed

[2018-05-15 13:19] surmann commented on #334
@stewid I tried version 91a169d4. Here is the result:

    Local:    master C:/Temp/git/test
    Head:     [5a98736] 2018-05-15: initial

On a repo without commits:

    Local:    C:/Temp/git/test
    Head:     nothing commited (yet)

Seems, that it is working now. Thanks!

[2018-05-15 13:19] #334 closed

[2018-05-15 16:55] stewid commented on #334
Thanks

[2018-05-16 06:05] maelle opened #346 "GitHub repo topics to review"
👋 @stewid

I've added topics to the repo to increase its discoverability (through GitHub, and through rOpenSci registry which will use these topics)

![image](https://user-images.githubusercontent.com/8360597/40099315-cac19a0c-58df-11e8-9a5f-bcb02b9d3a30.png)

Feel free to change them until you're happy with the list! Thank you 😺

[2018-05-16 15:02] stewid commented on #346
Great. Thanks @maelle

[2018-05-16 15:02] #346 closed

[2018-05-16 15:15] maelle commented on #346
Thank _you_!

[2018-05-21 23:48] jennybc opened #347 "Release planning"
usethis will have a small release soon and I want to address any obvious and tractable problems re: usethis/git2r, such as switching over to `git2r::repository_head(r)`. I'd rather not write conditional code, i.e. I'd prefer to just require a current version of git2r.

Is this realistic or are you fairly far away from a CRAN release?

[2018-05-22 19:25] jennybc commented on #329
I am getting exactly this message and behaviour with @maurolepore, also on Windows, installed from e2b3602.

[2018-05-23 06:36] stewid commented on #347
I don't have enough time right now to work on git2r. There are two issues that make it difficult to submit a release. First the build configuration on macOS must be improved to address the CRAN check warning. My plan is to refactor the configuration so that libgit2 is installed using the brew package manager instead of using the bundled libgit2. Secondly, something in the refactoring to S3 classes

[2018-05-23 15:48] jennybc commented on #347
Our r-lib/tidyverse team would like to help out then, if that would be welcome.

Do you have any more concrete details or links to share re: the macOS issue? @jimhester indicates he can look into this.

I think the info available for #329 is fairly clear.

@jeroen Can you be tempted into this effort at all? Can you reproduce #329? I cannot on my VM but it's obviously a real problem.

[2018-05-23 16:50] jeroen commented on #347
@stewid I can help refactoring to unbundle libgit2 and use the system version instead, like we do for most packages. Are you using libgit2 api calls that are not available on system installations?

[2018-05-24 06:19] stewid commented on #347
Thanks, much appreciated.

CRAN has the following check warning (https://cran.r-project.org/web/checks/check_results_git2r.html).

[code]
which happens during the build of libssh2.

One challenge is that each release of `libgit2` has so far had breaking API changes (https://github.com/libgit2/libgit2/releases). The development version of `git2r` bundles the latest libgit2 version (v0.27 released M

[2018-05-24 23:43] jeroen commented on #347
OK here is a PR that switches to the rwinlib verion of libgit2: https://github.com/ropensci/git2r/pull/348. This makes the build a lot easier and enables all libgit2 features on Windows.

Can you test if this also fixes https://github.com/ropensci/git2r/issues/329?

[2018-05-24 23:46] jeroen commented on #329
@ijlyttle @maurolepore could you test if this problem has been resolved in the windows branch?

[code]

[2018-05-25 00:18] maurolepore commented on #329
I've just installed @windows (`75d23d0`) and the problem persists.  This output is the first line run on a new package (crated with `usethis::use_package()`):

[code]
[code]

[2018-05-25 00:43] jeroen commented on #329
I cannot reproduce that problem either. What is the dir of the repository? It doesn't have spaces or so right?

[2018-05-25 01:03] jennybc commented on #329
I think it's best to not involve usethis.

I'm posting from my Windows 10 VM. I also can't reproduce the problem.

[code]

Created on 2018-05-24 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-25 01:06] maurolepore commented on #329
Above it was C:\Users\LeporeM\Documents\rm. It also fails with a repo at C:\Users\LeporeM\Dropbox\git_repos\rm2.

If I start a new session, it seems that git has been initialized but no master branch created. And ` git2r::status()` fails.

[code]

[2018-05-25 01:12] jeroen commented on #329
There must be some local configuration issue in the mix. Does libgit2 have config files? Or perhaps it's trying and failing to read your keys or so?

[2018-05-25 05:10] ijlyttle commented on #329
Sorry I'm late to this - for me, the original issue is still there:

[code]
[code]

This works OK for me:

[code]

However...

[code]
[code]
<details>
<summary> Session info</summary>
<pre>
Session info -----------------------------------------------------------------------------
 setting  value
 version  R version 3.4.3 (2017-11-30)
 system   x86_64, mingw32
 ui       RStudio (1.1.414)
 language

[2018-05-25 15:35] jeroen commented on #329
I would expect not, but there must be something that's different in their setup that trips over libgit2.

[2018-05-25 15:52] jennybc commented on #329
I've rebuilt from affb836f222b96e7db06727bf323bfc9499c3b90 on Windows and confirm that all is still well for me. I note there are few little notes/warnings from R CMD check that probably need to be dealt with before CRAN. But obviously this other problem is a much bigger blocker.

[2018-05-25 16:03] jeroen commented on #329
@stewid and me added some more debugging output. @ijlyttle @maurolepore could you install from source one more time, and see if it gives you a better error message?

[code]

As always make sure to install in a clean R session. If the installation ends with some line *could not replace git2r.dll* or something like that, the update was not successful.

[2018-05-25 16:09] stewid commented on #329
I have added a print debugging line in the C code (in the function that opens a repository) to see if the repository object is invalid (for example a memory problem in the C code) or if the code is unable to open the repository. Does it print `The repo argument is unexpectedly invalid` before the error occurs?

`Rprintf` added: https://github.com/ropensci/git2r/blob/master/src/git2r_repository.c#L

[2018-05-25 17:37] maurolepore commented on #329
Now I can successfully run all examples in `?add()`.

[code]

But I fail to push with git2r, although I can push from the terminal.

[code]

Created on 2018-05-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-25 18:30] ijlyttle commented on #329
I have reinstalled with no errors, and I get the same responses as [above](https://github.com/ropensci/git2r/issues/329#issuecomment-391942747).

I get no additional error message before the error occurs.

<details>
<summary> Session info</summary>
<pre>
 session_info()
Session info ------------------------------------------------------------------------------------------
 setting  value
 version

[2018-05-25 21:08] maurolepore commented on #329
Here is something interesting about my git configuration. My details are found if requested from RStudio terminal but not if requested from git bash.

![image](https://user-images.githubusercontent.com/5856545/40566333-29502592-603e-11e8-9ab1-52db62955d9f.png)

[2018-05-26 11:12] stewid commented on #329
I found a problem when copying the repo object internally that could possibly cause this. @ijlyttle does it work now?

[2018-05-26 12:54] ijlyttle commented on #329
Just a speculation, @maurolepore, but I wonder if the difference in behavior could be caused by RStudio and bash having different definitions of the git home directory. To be clear, I don't know if they are, in fact,  different or not. We found something along these lines with ssh: https://github.com/ropensci/git2r/issues/314

[2018-05-27 12:38] ijlyttle commented on #329
Still the same responses as [above](https://github.com/ropensci/git2r/issues/329#issuecomment-391942747).

I get no additional error message before the error occurs.

<details>
<summary> Session info</summary>
<pre>
Session info ------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.3 (2017-11-30)
 system   x86_64, mingw32
 ui       R

[2018-05-31 20:51] jennybc commented on #329
@ijlyttle on the machine in question, would you be able to give someone remote control briefly in this way:

https://support.zoom.us/hc/en-us/articles/201362673-Request-or-Give-Remote-Control

I'm trying to lay the groundwork for getting this solved. I probably am not the one to fix it, but I can at least do some grunt work. I assume your Troubleshooter might also ask that you install a debugger.

[2018-05-31 22:03] jennybc commented on #329
@ijlyttle Me again. Can you downgrade to, say, the CRAN version of git2r and do some basic git2r operations?   This would help clarify if something is generally borked on your machine or if it's specific to the dev version of git2r.

[2018-05-31 22:14] jeroen commented on #329
@ijlyttle could you somehow rule out that `.gitconfig` is involved? E.g. temporarily rename it to some other file.

[2018-06-01 01:54] ijlyttle commented on #329
Hi @jennybc - I am happy to help however I can, but I will be traveling from tomorrow until next Thursday (but the computer in question will not be).

I tried using the CRAN version, but I cannot get that to work either - starting to suspect that the computer is borked.

Hi @jeroen - I tried also renaming `.gitconfig`, but to no effect.

[2018-06-02 14:42] maelle commented on #329
:wave: my dear Windows friends! Let's find 🐛 together 💃

I have tested the code below

[code]

With the CRAN version, it worked until `git2r::push`, with the error

[code]

That said when I tried pushing with `git2r` a while ago (when @ijlyttle opened the issue), I think I had a different error, but at pushing too. I can push from the terminal.

Now with the dev version I can reproduce the error 🎊

[2018-06-02 16:30] jennybc commented on #329
Thanks @maelle! It will be wonderful to get to the bottom of this and it's going to be a great help to have more people who can reproduce it.

Next time you return, can you provide details on R's notion of your home directory and, in that context, where your user-level gitconfig lives. And your SSH keys? I don't really think this is the problem, but I'm trying to have an open mind. And I have a si

[2018-06-02 17:02] maelle commented on #329
🕵️‍♀️  -- these things are relevant for my trying to work with the CRAN version right? The dev version seems to block me at an earlier stage.

# R's notion of my home directory
[code]

Created on 2018-06-02 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

# Where my user-level gitconfig lives
[code]

Created on 2018-06-02 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0)

[2018-06-03 13:10] ijlyttle commented on #329
Just to add a quick two cents - my last message where I thought my Windows computer was borked using the CRAN version - @maelle's experience is entirely consistent with mine (except she had the 💪to document everything).

[2018-06-04 21:31] stewid commented on #347
I have done more refactoring of the configuration to use libgit2 from brew on macOS

[2018-06-04 21:42] jennybc commented on #347
What do you think needs to happen re: validating the macOS changes? Or is that perhaps overstating where things are? If there are instructions, I'd be willing to try them.

[2018-06-05 06:27] stewid commented on #347
It remains to handle the case when brew is missing. My plan is to copy the `autobrew` solution by @jeroen . I think we need to write instructions and test that it works with https and ssh. @jennybc  do
you think it's possible to have tests on travis with push/clone operations over https/ssh?

[2018-06-05 06:43] jennybc commented on #347
I'm sure it's possible but I haven't done it. I suppose we would need a dummy account for this.

[2018-06-06 15:57] jeroen commented on #329
I think the problem here is that when you try to install `git2r` using devtools, the installation may be corrupted because devtools itself uses git2r, and windows fails to update the dll file. Did you see a line like this when installing?
[code]

<img width="1045" alt="screen shot 2018-06-06 at 5 40 20 pm" src="https://user-images.githubusercontent.com/216319/41049501-5b7d5702-69b1-11e8-9c50-5c767

[2018-06-06 17:49] jimhester commented on #329
To avoid that issue you can install from github using remotes, which does not depend on git2r.

[2018-06-06 19:41] maelle commented on #329
Installed with `remotes` (thanks @jimhester!)

[code]

Created on 2018-06-06 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-06-06 19:43] jeroen commented on #329
@maelle thanks! So the password prompt is still not working well, but definitely no regressions from the latest cran version.

[2018-06-06 21:20] jennybc commented on #329
@maelle Is your SSH key passphrase protected?

[2018-06-06 23:45] maelle commented on #329
@jennybc no not at the moment

[2018-06-07 01:20] jennybc commented on #329
Interesting. Have you ever been able to push using SSH protocol on Windows with git2r? I've always suspected that perhaps this has never worked? And yet I feel like maybe @ijlyttle has reported success in the past? Apologies to the universe for muddying the water re: this particular issue thread with someone separate.

This seems relevant, in terms of which ssh agent libgit2 is ready to work with

[2018-06-07 04:27] maelle commented on #329
Now that I added a passphrase ☺️ I get the same error message. So I can keep experimenting for y'all, since I didn't break things any further on my system.

The reason why I tried getting SSH protocol working with `git2r` back in February was because @ijlyttle reported success. Then after trying for what seemed a long time, I asked him and he told me it no longer worked for him.

[2018-06-07 04:30] maelle commented on #329
I can experiment with and without passphrase if it helps! But it seems that's not the part where problems happen anyway.

[2018-06-07 05:08] jennybc commented on #329
To be clear, having a passphrase will make things *more* difficult. I wondered if that was the problem.

[2018-06-07 05:53] stewid commented on #329
Thanks @maelle

Yes (https://github.com/stewid/test-07)

[2018-06-07 06:28] stewid commented on #329
@maelle does it work if you specify the path to the SSH key?

[code]

[2018-06-07 06:38] maelle commented on #329
It does work indeed! 🎉 https://github.com/maelle/git2rtests

I was asked for my passphrase, and then it worked.

[2018-06-07 07:02] jennybc commented on #329
Are we starting to conclude this?

  * Previous problems were the result of borked installations of git2r. Or ... perhaps ... previous problems were legit, have been actively resolved, but initial attempts to verify this were derailed by corrupt re-installations of dev git2r, due to devtools' usage of git2r.
  * A separate problem exists, in which SSH keys aren't being found on Windows when perhap

[2018-06-07 12:05] maelle commented on #329
@jeroen suggested copying the `.ssh` folder to Documents (where there only was a symlink), and it didn't help, I still need to explicitely indicate where the key is.

[2018-06-07 15:20] stewid opened #350 "Update NEWS"

[2018-06-07 15:23] stewid opened #351 "Send mail to package maintainers of reverse dependencies about S4 -> S3"

[2018-06-07 18:56] stewid opened #352 "Handle installation on macOS when brew is missing"
Copy the autobrew solution by @jeroen, see for example, https://github.com/jeroen/openssl/blob/master/configure

[2018-06-07 19:05] jeroen commented on #352
Want me to help with this?

[2018-06-07 20:43] stewid commented on #352
Yes, that would be great.
Thanks

[2018-06-08 05:58] stewid commented on #329
Currently, git2r is looking for the default ssh keys in
[code]

@maelle , are your ssh keys in
[code]

[2018-06-08 06:09] stewid commented on #212
This is resolved now, when git2r uses a system installation of libgit2

[2018-06-08 06:09] #212 closed

[2018-06-08 12:30] ijlyttle commented on #329
Hi all,

As usual, I am late to the party 🎉

Just to report that after using **remotes** to install **git2r**, all of the actions that had produced errors **have stopped producing errors** 💃

@maelle: I don't know if this can be useful or not (I see that you have solved the problem), but this was my workaround for SSH keys: https://ijlyttle.github.io/ghentr/articles/workarounds.html#workaround. Th

[2018-06-08 12:39] maelle commented on #329
Thanks @ijlyttle, it looks like the symlink I already have (maybe I even got the solution from that page?).

@stewid

[code]

Created on 2018-06-08 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-08 12:41] maelle commented on #329
Currently my .ssh resides under both Maelle and Maelle/Documents.

[2018-06-11 06:46] stewid commented on #329
Thanks @ijlyttle . Glad to hear that it works. I'm also happy to close the issue.

I open a new issue for this.

Thanks to you all!

[2018-06-11 06:46] #329 closed

[2018-06-11 07:35] stewid opened #353 "Better search for default SSH keys on Windows"
This is a follow-up on #329

Currently, the git2r default is to look for SSH keys (id_rsa) in `file.path(Sys.getenv("USERPROFILE"), ".ssh")`. It seems that this is not always the default location. Can the search be improved?

[2018-06-11 23:26] rmendels opened #354 "Fails to build on Mac OSX because of missing header"
This error prevents the installation of the Github version of `pkgdown`

[code]

[2018-06-12 05:19] stewid commented on #354
Does it work if you first install libgit2 with brew?

[2018-06-12 17:29] stewid commented on #354
I have updated the configuration error message with libgit2 installation instructions if libgit2 is not found on macOS. Hope that helps, else reopen the issue.

[2018-06-12 18:11] rmendels commented on #354
I installed libgit2 with Brew.  It now compiles,  but I get the following error at the end:

[code]

[2018-06-12 18:13] stewid commented on #354
Thanks for reporting this

[2018-06-12 19:07] stewid commented on #354
@rmendels could you please try again.

[2018-06-12 20:38] rmendels commented on #354
[code]

[2018-06-12 22:02] rmendels commented on #354
I should add that the file that is trying to be loaded (git2r.so) does exist and the stated location,  and it is 1.2MB - is that the correct size?  And there is no other error or warning in the compile stage.

[2018-06-13 06:34] stewid commented on #354
Are you using the gcc compiler? I think you need to use clang on macOS.

[2018-06-13 15:54] stewid commented on #354
I think I found the problem in the configuration script. Could you please try again.

[2018-06-13 16:19] rmendels commented on #354
Now I am having it not find libgit2,  which was installed with home-brew and it was finding it yesterday.  And I am definitely using the clang compiler.  Can only work on this off and on today

[2018-06-14 14:09] richierocks opened #355 "Add verbose argument"
Many git commands have a `--verbose` option for debugging. For example, when cloning, you can see extra output using

[code]

For cases when things aren't working, it would be helpful if this was available via `git2r`. In this example, the signature to clone would be changed from

[code]

to

[code]

Many other git commands also accept this argument, including `add`, `commit`, `fetch`, and `push`.

[2018-06-15 06:37] stewid commented on #354
@rmendels could you please try again.

[2018-06-15 16:11] rmendels commented on #354
[code]

[2018-06-15 16:30] maelle opened #356 "Add a link to happygitwithr.com?"
http://happygitwithr.com/ssh-keys.html#ssh-troubleshooting

as use case or further resources in a vignette (the vignette could be created from the README cf https://github.com/jonocarroll/VolunteerVignettes)?

[2018-06-15 16:30] jennybc commented on #354
As a general rule, it might be best to use `remotes::install_github()` instead of `devtools::install_github()`, because the former does not use git2r itself. I have no idea if that matters here on MacOS (it does on Windows), but it eliminates one potential source of spurious failures.

[2018-06-15 16:39] rmendels commented on #354
What started this is I was trying to install pkgdown from Github,  which installs git2r from Github,  so it isn't just a question of my own install, but what will/will not work with the pkgdown install.

Thanks.

[2018-06-15 16:43] rmendels commented on #354
Just tried it using remotes::install_github("ropensci/git2r")

[code]

[2018-06-15 19:33] jennybc commented on #354
Note the error is now about libssh2.

[2018-06-15 20:04] rmendels commented on #354
Beyond what I can resolve.  I am just trying to get the Github version of pkgdown  installed (because the CRAN version fails on one of my packages which I have reported),  which tries to install git2r,  which fails on my system.  So I am reporting what I have found.    I am always suspicious when you are depending on things installed by homebrew,  because that changes the locations of where a lot

[2018-06-15 20:33] jennybc commented on #354
Got it. It is frustrating. A release of git2r is on the horizon.

[2018-06-16 12:10] stewid commented on #352
I have studied your anticonf scripts to do something similar in https://github.com/ropensci/git2r/blob/master/configure.ac I have also configured travis to test against a system without homebrew. Obviously it doesn't work yet since https://jeroen.github.io/autobrew/${PKG_BREW_NAME} doesn't exist. Am I on the right track?

I have been able to fix the configuration on travis with "brew_packages: lib

[2018-06-16 13:59] jeroen commented on #352
Need to wait for this to get merged: https://github.com/Homebrew/homebrew-core/pull/29113

[2018-06-17 12:35] jeroen commented on #352
OK this works now.

[2018-06-17 12:52] stewid commented on #352
Thanks!

[2018-06-17 12:52] #352 closed

[2018-06-18 05:07] jennybc commented on #353
From my (cursory) look through the git2r source, I can't tell how the putative location of SSH keys is even determined. Is that happening in source here in git2r or even in libgit2? Or is this perhaps inherited from some other dependency?

I have experienced this problem personally in the past past couple of days on my Windows VM. And, indeed, using `git2r::cred_ssh_key()` to explicitly create a c

[2018-06-18 10:58] jeroen commented on #354
Should be fixed now?

[2018-06-18 14:48] jennybc commented on #353
I'm aware of this ambiguity re: home directory on Windows:

http://happygitwithr.com/ssh-keys.html#git2r-or-some-other-tool-cant-find-ssh-keys-on-windows

I'm beginning to think the least of all evils is to strongly recommend that Windows users create a symbolic link from `C:\Users\username\.ssh` to `C:\Users\username\Documents\.ssh`. Or *vice versa* if they've got it the other way 'round.

Actual

[2018-06-18 14:53] jennybc commented on #353
If I pursue 👆, I would create some sort of doctor or helper function in usethis to help user achieve this. usethis already depends on fs, so I can provide code (or execute it, even) to make the link.

[2018-06-18 15:09] jeroen commented on #353
Windows doesn't really have symlinks like we have on unix. This is one of the major problems porting software to Windows.

There is something on Windows called symlinks but as far as I know these are difficult to create and only available to sysadmins so most users may not be able to use it. Windows does have something similar called native links, but I don't think R and libgit2 can read those.

I

[2018-06-18 15:39] jennybc commented on #353
In the Happy Git page linked to above, we have example code for doing this:

[code]

provided by @ijlyttle. It's also what's recommended here (re: gitconfig, but same idea):

https://www.onwebsecurity.com/configuration/git-on-windows-location-of-global-configuration-file.html

So there's some evidence that it works in the wild.

I think it would be really nice for git2r and usethis to stay out of

[2018-06-18 17:39] rmendels commented on #354
I am happy to test,  but will wait till I can get binaries from CRAN.  And as I show above,  I am using the clang4 compiler.  I have successfully compiled any number of other packages.

[code]

[2018-06-19 15:46] stewid commented on #350
Done

[2018-06-19 15:46] #350 closed

[2018-06-20 15:27] jennybc commented on #353
I beat my head against this for a long time yesterday, pursuing the "location of the ssh keys" line of attack.  I no longer think location of `.ssh/` is the real obstacle. I've basically re-learned something I knew before and then forgot:

When `cred = NULL`, git2r tries to get the keys from the ssh-agent and I think most Windows users do not have an ssh-agent running. This has been [explained by

[2018-06-20 15:55] stewid commented on #353
@jennybc thanks for your work on this.

I would like to refactor the callback `git2r_cred_acquire_cb` (https://github.com/ropensci/git2r/blob/master/src/git2r_cred.c#L214) to try harder to provide working SSH credentials from default locations. If a connection fails, the callback is called again and we can try the next default key location, similar to the ssh package. I think we can also add suppo

[2018-06-20 15:56] jennybc opened #357 "Set up and troubleshooting advice for ssh-agent on Windows"
Splitting this off of #353 Better search for default SSH keys on Windows and re-locating a comment I originally made there.

I beat my head against this [getting SSH keys to "just work" on Windows] for a long time yesterday, pursuing the "location of the ssh keys" line of attack.  I no longer think location of `.ssh/` is the real obstacle. I've basically re-learned something I knew before and then

[2018-06-20 16:00] jennybc commented on #353
I just deleted my last comment above and moved it to a new issue:
#356 Set up and troubleshooting advice for ssh-agent on Windows

because I think there are at least two distinct issues around getting SSH to "just work" on Windows.

Yes your plan to look harder in default locations before resorting the ssh-agent sounds fantastic! Lots of the relevant parts exist, but right now a lot of the burden

[2018-06-20 21:03] stewid commented on #351
Done

[2018-06-20 21:03] #351 closed

[2018-06-21 17:10] stewid commented on #353
@jennybc I have made an internal test [function](https://github.com/ropensci/git2r/blob/74ba74a446b8b2b9e3322e32cfc199e9f88b74c5/src/git2r_cred.c#L216) in the `credentials`branch that tries to list available ssh keys. Does it find the keys on a Windows machine?

Example how to use it:
[code]

[2018-06-21 18:01] jennybc commented on #353
No it does not find my keys on Windows. But they are there.

[code]

[2018-06-21 18:20] stewid commented on #353
Ok, I have changed to use `R_ExpandFileName("~")` to find home.

[2018-06-21 21:56] stewid commented on #353
I think you are right. I have changed again. Now I'm only trying to find the paths to: `"%HOME%\\"`, `"%HOMEDRIVE%%HOMEPATH%\\"` and `"%USERPROFILE%\\"`

[2018-06-22 12:50] stewid commented on #353
I think that is because I didn't map the wide character string (from [ExpandEnvironmentStringsW](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724265(v=vs.85).aspx)) to utf8. I have now fixed that (I hope)

[2018-06-22 13:09] jeroen commented on #353
Perhaps it's easier to implement that logic in R using `enc2utf8()`?

[2018-06-22 13:37] stewid commented on #353
Definitely easier :)  Let us see if this works, or I change approach.

[2018-06-22 13:46] stewid commented on #347
I will submit version 0.22 to CRAN on Monday 9 July.

[2018-06-22 14:05] stewid commented on #353
The reason I'm trying to do this in C code is that the libgit2 callback (if the remote host requires authentication) provides information about the requested authentication type. So instead of always doing the search before calling e.g. clone, my idea is to find the ssh keys when they are needed.

[2018-06-22 15:34] jennybc commented on #353
I can't compile on Windows from 6e191c200f63e9cd0af4a6ee1f00fd6403043a68:

<details>

Loading git2r
Re-compiling git2r
Running "C:/PROGRA~1/R/R-34~1.3/bin/x64/Rcmd.exe" INSTALL "C:/Users/JennyVM/Documents/git2r" \
  "--library=C:\Users\JennyVM\AppData\Local\Temp\RtmpGqLLNN\devtools_install_37c68c712e1" --no-R \
  --no-data --no-help --no-demo --no-inst --no-docs --no-exec --no-multiarch --no-test-

[2018-06-22 16:31] stewid commented on #353
I have fixed the build

[2018-06-22 17:37] jennybc commented on #353
Now we're making progress! Installed from e6e2de5d23d0b91769ce0a38fc8be9ffbe83cf02

[code]

[2018-06-22 19:03] stewid commented on #353
I have added code to check for the keys.

[2018-06-22 19:15] jennybc commented on #353
Now it works! Installed from 5e8baea36896cf3a20b1d0d29510d6941b245b3d

[code]

Does it make sense that the keys are each showing up twice?

Note you've got a compilation warning now:

[code]

[2018-06-23 12:58] stewid commented on #353
On my machine, git2r now finds the default keys so that it works to push/pull/clone. Note, it doesn't handle passphrase protected keys yet (https://github.com/ropensci/git2r/blob/credentials/src/git2r_cred.c#L385).

[2018-06-26 13:30] jimhester opened #358 "Support for git_stash_pop and git_stash_apply"
This functionality was added fairly recently to libgit2 (https://github.com/libgit2/libgit2/pull/3018) however it doesn't seem like the R bindings expose this.

It would be pretty useful to have however, as right now while you can create a stash there is no way to pop it / apply it back.

[2018-06-26 19:04] stewid commented on #358
I have added the `stash_pop` and `stash_apply` methods to the `stash-api` branch.

[2018-06-27 14:16] kimwalisch opened #359 "Question: How to get the lastest SHA commit hash?"
Hi,

I am using your ```git2r``` library and it has worked nicely so far. But now I am trying to get the latest sha commit hash as a string and so far I have not been able to make it work.

I have found the following code https://github.com/ropensci/git2r/issues/135 but unfortunately I fail to make it work:

[code]

So the git_commit class does seem to have an sha member but I don't know to to acc

[2018-06-28 06:05] maelle commented on #353
which branch should I install to get this behavior? 😸 thanks

[2018-06-28 06:17] stewid commented on #353
The `credentials` branch.
Thanks

[2018-06-28 06:39] maelle commented on #353
With that branch I still need to write

[code]

[2018-06-30 06:04] stewid opened #360 "Memory alignment errors identified with R-hub builder Debian Linux, R-devel, GCC ASAN/UBSAN"
For example:

[code]

Change from using the SHA1DC algorithm to using the SHA1 implementation in the OpenSSL library.

[2018-06-30 06:13] maelle commented on #353
It doesn't 😿 I installed the `credentials` branch ropensci/git2r@5c3659c and still need to first create `cred` and pass it as an argument to `git2r::push`

[2018-06-30 06:13] maelle commented on #353
Note that I installed it using `remotes` 👼

[2018-06-30 15:04] #360 closed

[2018-06-30 16:08] stewid commented on #353
I think I found the problem. Does it work now?

[2018-06-30 16:53] maelle commented on #353
I still get

[code]

with `ropensci/git2r@ae12867`

[2018-06-30 16:53] maelle commented on #353
oh wait I didn't install the right branch! 🤦‍♀️

[2018-06-30 17:35] maelle commented on #353
It works! 🎊 👏

[2018-07-01 17:50] stewid commented on #353
I have merged the `credentials` branch to the `master` branch

[2018-07-01 21:30] #358 closed

[2018-07-01 22:42] ilyakorsunsky commented on #155
I had the original problem today. regerrorA is from the boost regex library. In my case, the installing put my boost regex ahead of the libgit2 regex libraries in my LD_LIBRARY_PATH. So R was trying to use the regex functions from boost.

[2018-07-02 05:17] jennybc commented on #353
What exact git2r code did you run @maelle to declare success here and what is the state of your SSH world (i.e. where do the keys live and what is the passphrase situation?)? I am not having success on my Windows VM yet, but I've only tried via usethis functions. I should probably break it down into smaller tests.

[2018-07-02 06:38] stewid commented on #353
@jennybc I successfully ran git2r::pull() on a private repo using the master branch (086290820fb0afb05f47007c7e549478528566c7) on a Windows VM. The key (c:/users/stefan/.ssh/id_rsa) was passphrase protected.

[2018-07-02 06:48] maelle commented on #353
I ran

[code]

but let me try via `usethis`, I'll report back :wink:

[2018-07-02 06:59] maelle commented on #353
I had forgotten I had a whole copy of my .ssh folder in Documents/ from earlier tests, so have deleted it to check that just the symlink is enough, and I'm re-installing `git2r` from the master branch.

[2018-07-02 07:11] maelle commented on #353
So now that I've deleted the .ssh from Documents and that I've installed `git2r` from master (ropensci/git2r@0862908), if I use

[code]

or `usethis::use_github()` for the whole setup, my RStudio session aborts, or my R session if I do it from R.

Now if I re-copy the .ssh folder to Documents, it works again. So the symlink isn't enough. I'm sorry for forgetting I had copied the whole .ssh folder

[2018-07-02 07:51] stewid commented on #353
Oops...how do I create a symlink on Windows to reproduce the crash?

[2018-07-02 08:09] maelle commented on #353
I used http://happygitwithr.com/ssh-keys.html#ssh-troubleshooting

"Create a symbolic link so that .ssh/ in R’s home directory points to your actual .ssh/ directory. Example contributed by Ian Lyttle on Windows 7 using Command Prompt:

MKLINK /D "C:\Users\username\Documents\.ssh" "C:\Users\username\.ssh""

[2018-07-02 08:11] maelle commented on #353
It looks like this (if valid, after all `git2r` is the only reason I have it -- note that I even re-created it today)

![image](https://user-images.githubusercontent.com/8360597/42152349-1e45b7ec-7de0-11e8-82b7-464d7ac68360.png)

[2018-07-02 09:57] stewid commented on #353
@maelle I don't think you need the symlink anymore. On Windows, git2r looks for the id_rsa key in
`"%HOME%\\.ssh\\id_rsa"`, `"%HOMEDRIVE%%HOMEPATH%\\.ssh\\id_rsa"` and  `"%USERPROFILE%\\.ssh\\id_rsa"`.

[2018-07-02 10:04] stewid commented on #353
I think so, but I haven't tested yet. I need to look into this in more detail to avoid the crash.

[2018-07-02 12:52] maelle commented on #353
Should the issue be re-opened by the way?

I've [deleted the symlink](https://superuser.com/questions/167076/how-can-i-delete-a-symbolic-link) (`rmdir C:\Users\Maelle\Documents\.ssh`). The session crashes if I write

[code]

My .ssh folder is in `USERPROFILE`.

[code]

Created on 2018-07-02 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-07-02 13:06] jimhester commented on #358
Thanks!

[2018-07-05 18:06] stewid commented on #353
Unfortunately, I have not been able to reproduce the crash on a Windows VM. My .ssh folder is also in `USEPROFILE`. I reviewed the code and made some minor changes that might solve the problem, but most likely not.

[2018-07-18 14:34] qinzhu opened #363 "segfault with R 3.5 compiled from source"
I ran into this with both R 3.5 and 3.5.1 compiled from source on a Linux system

[code]

System info:
[code]

There was no error during compilation. Any suggestions would be appreciated.

Thanks,
Qin

[2018-07-18 16:32] stewid commented on #363
Thanks for the report. Can you please provide the output from
[code]

[2018-07-18 16:37] qinzhu commented on #363
[code]

[2018-07-20 05:08] qinzhu commented on #363
It appears this is related to some dependency issue. I recently installed anaconda3 and bunch of other stuffs with conda and now there's no longer this problem.

[2018-07-20 05:08] #363 closed

[2018-07-20 08:49] stewid commented on #363
Thanks

[2018-07-23 14:16] ezmiller commented on #204
Same issue

[2018-07-26 07:50] #347 closed

[2018-07-26 07:52] #331 closed

[2018-08-07 10:55] tsahota opened #364 "Commit a single file"
Is it is possible to replicate the following in git2r?:

git commit /path/to/file -m "committing file"

so that only the file is committed and the rest of the index is left unchanged?

Thanks!

[2018-08-07 11:07] stewid commented on #364
No, that is not possible to replicate in git2r

[2018-08-07 12:18] dpastoor commented on #364
@stewid can't this just be done with:

`add(repo, "path/to/file")  %>% commit("committing file")`

[2018-08-07 12:49] stewid commented on #364
@dpastoor that works fine if no files are staged before calling `add(repo, "path/to/file")`.

With `git commit /path/to/file -m "committing file"`, my understanding is that it's possible is to first stage some files, then commit a file without including the staged files in the commit, see https://git-scm.com/docs/git-commit.

With `git2r`, all staged files are commited.

[2018-08-07 13:31] dpastoor commented on #364
ah I see, so a helper function of sorts would be needed

check if any files added already --> in on.exit hook add() --> reset files --> add/commit single file --> exit so hook adds back files in staging area

[2018-08-07 14:18] tsahota commented on #364
Thanks, both. Yeah I was thinking something like that if it wasn't possible in git2r.

Cheers

[2018-08-12 17:28] pat-s commented on #335
@jennybc I just tackled this issue again and came across a solution that worked for me on Arch.

So while you propose that `credentials = NULL` triggers a search for the default running ssh-agent, I found that

[code]

does its job as expected. As you state in #357 we do not really know what lib2git really does in the background? So why not just rely on `cred_ssh_key()` and if that function return

[2018-08-12 19:05] jennybc commented on #335
This aspect of git2r has been changing a lot, as a result of all this credential-finding pain, and what I said in March does not necessarily hold today. And, as you say, it varies by OS. Last I checked, my ssh keys still aren't found on Windows.

[2018-08-12 19:16] pat-s commented on #335
But if they will be found one day, `cred_ssh_key()` will probably also return them correctly.

So for now, `cred_ssh_key()` seems to work on Arch (maybe other Linux or even UNIX OS) while `credentials = NULL` does not. So changing from `credentials = NULL` to `credentials = cred_ssh_key()` could solve some issues for users, even if behavior may change again.

Is there a point that would speak agai

[2018-08-13 17:16] jennybc commented on #335
I've just tested that on Windows and Mac. I think this will come down to whether people have a passphrase-protected SSH key. On Windows, I do not and the current behaviour of `git2r::cred_ssh_key()` does seem to find my keys, for the first time ever 🎉. On Mac, though, I do have a passphrase and the ssh agent is configured to manage it. So an explicit call to `git2r::cred_ssh_key()` results in a pa

[2018-08-13 17:53] pat-s commented on #335
Great! Looking forward to future enhancements. I love `create_from_github()` and other `usethis` funtions so much. Thanks!

[2018-08-14 12:21] florisvdh opened #365 "add() all changes automatically"
A very nice project! Would it be possible to add an argument to `add()` in order to automatically stage all files that have changed in the working directory? This would do the same as `git add --all`

[2018-08-14 14:59] stewid commented on #365
Thanks. You can use `commit()` with `all=TRUE`. Does that work in your case?

[2018-08-14 16:07] florisvdh commented on #365
That should usually work indeed. However, I believe that often mistakes can be avoided by first inspecting the staging area (as a dry run before committing). For example, when a new folder has been added, it is not immediately clear from `status()` which would be the effect of `commit(all = TRUE)` as you do not see the individual files or subfolders within that new folder.

Of course, it depends o

[2018-08-29 10:29] ThierryO opened #367 "order in odb_blobs() can fail in case of subsecond commits"
See unit tests in fa8cddb

[2018-09-28 19:08] maelle opened #368 "Windows yet again"
:wave: here!

Things no longer work for me,

[code]

<sup>Created on 2018-09-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Which `git2r` version should I actually be using? Thanks!

[2018-09-28 19:18] devssh commented on #259
I am on high sierra 10.13.4. It does not work,some methods say R 3.5.1 is not supported others just say libgit2 is to blame, which is funny because git2r is needed for devtools, which is needed for tensorflow on R in mac. So no tensorflow on R in mac Sierra as of Sep 2018.

[2018-09-28 19:21] maelle commented on #357
Maybe #368 is a duplicate of this.

[2018-09-28 19:43] stewid commented on #259
@devssh tensorflow does not depend on git2r

[2018-09-28 19:52] stewid commented on #367
The resolution of the timestamp for the author and commiter in a commit is 1 second.

[2018-09-28 21:04] souravbhabesh commented on #259
I was facing the same issue while trying to install devtools. I am on High Sierra Version 10.13.6.

The below steps led to successful installation of devtools.

install.packages("git2r",
                 repos = "https://cran.r-project.org",
                 type = "mac.binary.el-capitan")

install.packages("devtools")

Hopefully this will help others facing this problem.

[2018-09-29 11:57] devssh commented on #259
@stewid I am using https://github.com/rstudio/tensorflow which is using `devtools`. Devtools needs git2r.  using packages.install("tensorflow") does not work so i tried to install it via this tensorflow devtools alternate method. but cmake cannot build it on my configuration of Macos Sierra and R 3.5.1.

[2018-09-29 12:03] devssh commented on #204
I had this problem, I am using homebrew only. Let me reinstall openssl and check if it is a factor.

[2018-09-29 15:37] #367 closed

[2018-09-29 15:42] stewid commented on #259
@devssh does it work to install git2r using

[code]

[2018-09-29 15:45] maelle commented on #368
Ok, I'll be patient 🙂

[2018-09-29 15:52] devssh commented on #259
[code]

[2018-09-29 19:11] trosendal commented on #259
@devssh It's not clear if you tried the suggestion by @souravbhabesh to install from the binary.

[2018-10-01 11:32] devssh commented on #259
Hi @trosendal I tried

[code]

and then when I do

[code]
Rstudio crashes and restarts because I'm running an el-capitan binary on high sierra.

Also there is no binary for sierra.
[code]

[2018-10-17 15:49] VVVFO commented on #204
After reading through the error messages it seems like the real cause of the issue is the absence of `libgit2`.  So the following worked for me:

[code]

Then in RStudio:

[code]

[2018-10-27 02:18] hahajain opened #369 "ERROR: compilation failed for package 'Gs' (Generalised R-squared)on installation on Mac OS X 10.13.6"
I'm trying to install Gs with following command:

`install.packages("~/Downloads/Gs_1.0.tar", repos = NULL, type="source")
`

However, I'm getting the following error:

`Gs.cpp:6:10: fatal error: 'omp.h' file not found
#include <omp.h>
         ^~~~~~~
1 error generated.
make: *** [Gs.o] Error 1
ERROR: compilation failed for package 'Gs'
* removing '/Library/Frameworks/R.framework/Versions/3.5/Res

[2018-10-31 21:02] stewid commented on #369
This is not the repository for the 'Gs' package.

[2018-10-31 21:02] #369 closed

[2018-10-31 21:04] stewid commented on #318
I have changed the function to return a data.frame.
Thanks

[2018-12-12 01:33] jim-baskin commented on #259
brew install libgit2
on mac first

[2018-12-19 04:09] JiaxiangBU commented on #337
I have the same question, but even I add the argument `credentials = cred_token()`, I also get the error.

[code]

[2019-01-02 05:38] muschellij2 opened #371 "Similar to #341 unknown certificate failure"
Similar to #341, Getting this ERROR "unknown certificate failure" on Windows on @cran https://www.r-project.org/nosvn/R.check/r-release-windows-ix86+x86_64/spm12r-00check.html.  Confirmed in WinBuilder:
[00check.log](https://github.com/ropensci/git2r/files/2719964/00check.log).  I've only seen this problem come up in Windows side as rest of https://cran.r-project.org/web/checks/check_results_spm12

[2019-01-09 18:16] ltierney commented on #357
Building something based on [this post](https://help.github.com/articles/working-with-ssh-key-passphrases/#platform-windows) might work; not sure it's worth the trouble. Doing `eval $(ssh-add -s)` in terminals doesn't help since the environment variable settings don't make it back to the parent process.
Mac and Linux UI's usually run `ssh-agent` so starting one isn't needed, just `ssh-add`.

[2019-01-19 15:50] AmeliaMN commented on #140
The mac CRAN build of git2r doesn't have this enabled, but you can get it working if you do `install.packages("git2r", type = "source")`

[2019-01-19 17:46] AmeliaMN commented on #140
Also make sure you're being intentional about `protocol = "ssh"` (the default) versus `protocol = "https"`. I usually use https, so that was part of my problem.

[2019-01-19 18:01] cderv commented on #337
It would be helpful to have a way to configure credential method for a whole session without passing credential to each function.

Something like an option maybe.

`options(git2r.credentials)` that we could set up in R profile and set to `cred_token` for example.
I think it would be easy to implement as we could change change the `credentials` argument to `getOption("git2r.credentials`, NULL)`. I

[2019-01-25 11:21] JiaxiangBU opened #374 "encoding problem when summary function"
[code]

I get this error, any argument to set the encoding?

[2019-01-25 16:42] stewid commented on #374
Thanks for reporting the problem. No, it's not possible to set the encoding.

[2019-01-26 18:06] #374 closed

[2019-01-28 21:43] jdblischak opened #375 "When does push() set the upstream tracking branch?"
The documentation for `push()` states that it adds an upstream tracking branch ([source](https://github.com/ropensci/git2r/blob/master/R/push.R#L61)):

[code]

And the unit tests confirm this behavior. Below I've copied line [line 64](https://github.com/ropensci/git2r/blob/master/tests/push.R#L64) through line of 68 of `tests/push.R` followed by a test I added:

[code]

However, for these unit tes

[2019-01-28 22:15] jennybc commented on #375
I actually checked this behaviour myself in the past couple of days and, when we're talking about a push to Github, `git2r::push()` definitely does NOT set upstream tracking branch in my hands.

[2019-01-28 22:46] jdblischak commented on #375
@jennybc Thanks for the confirmation! I'm struggling to figure out if it ever worked for me. I tried installing git2r 0.21.0, but observed this same behavior. I switch back and forth between git2r and Git so often, I'm thinking I may have just missed this the whole time.

[2019-01-29 19:00] stewid commented on #375
That's a very good question. I have studied the code and I can't find that the `push` function actually sets the upstream tracking branch as described by the documentation. To fix this bug, I can add the argument `set_upstream = FALSE` to the `push` function to add the upstream reference, if the branch was successfully pushed (similar to the usethis package). What do you think?

[2019-01-29 21:51] jdblischak commented on #375
@stewid Yes, it would be useful to have that option. Though since it does appear to sometimes add the upstream tracking branch, the documentation should probably explain that `set_upstream = FALSE` is not a guarantee that it won't happen, just that git2r won't explicitly try to do it.

[2019-02-18 09:35] ilarischeinin opened #377 "Implement git clean"
I'd like to be able to remove untracked files from a repository, i.e. to run `git clean -f`.

It is of course trivial to use a workaround such as the one below, but are there plans to add direct support for a `clean()`?

[code]

[2019-02-19 18:39] stewid commented on #377
That sounds like a nice feature. I'd be happy to accept a PR with the `git_clean` functionality. Is it something you have time to work on?

[2019-02-22 05:32] yjqiu opened #378 "Problems install git2r"
When I tried to install git2r, I encountered the following error. I also tried to clone github and install locally but I ended up with the same error.

Error: package or namespace load failed for ‘git2r’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/mnt/silencer2/home/serein/R/x86_64-redhat-linux-gnu-library/3.5/git2r/libs/git2r.so':
  /mnt/silencer2/home/serein/R/x86_

[2019-02-22 17:23] stewid commented on #378
Hi,

BIO_meth_set_read is a function in OpenSSL. Have you installed the OpenSSL library? Another option is to install a system installation of libgit2 i.e. install the libgit2-dev package (Debian or Ubuntu) or libgit2-devel on e.g. Fedora, CentOS and RHEL.

[2019-02-22 17:26] yjqiu commented on #378
We installed OpenSSL. The problem I suspect is that we have two OpenSSL version and somehow it used one in configuration and used another one for header files. But I am not sure how to correct it.

[2019-02-25 16:43] ylyizhen commented on #378
I have the same error when trying to install "git2r" on Linux (RHEL). I also attempted the github solution as recommended and got the same error. We do have multiple versions of "openssl" installed. It becomes really confusing which one to choose. Any suggestion to fix this issue would be highly appreciated.

=== error message below ===
Error: package or namespace load failed for ‘git2r’ in dyn.lo

[2019-02-25 17:04] stewid commented on #378
I would try to first install `libgit-devel` using e.g. `yum install libgit-devel` and then install git2r in R. `git2r` tries to first build against a system installation of libgit2, before building the bundled libgit2 in git2r.

[2019-02-25 17:55] yjqiu commented on #378
It did resolve the problem after I installed libgit-devel. Thanks!

[2019-02-26 21:41] jdblischak opened #379 "Add getPass option for cred_user_pass"
I like that I have the option to securely enter my SSH key passphrase via getPass (#252, #254). Would you be open to a PR that enables this option for `cred_user_pass()`? My proposed behavior would be to prompt with `getPass::getPass()` if 1) `username` is not `NULL`, 2) `password` is `NULL`, and 3) getPass is installed, e.g. the following would prompt me for my password:

[code]

Please let me kn

[2019-02-27 17:01] stewid commented on #379
I think it sounds great. Thanks

[2019-02-27 17:02] stewid commented on #378
Glad to hear that it worked.

[2019-02-27 17:02] #378 closed

[2019-02-27 19:55] cderv commented on #379
Recently there has been the `askpass` :package: that provides this kind of feature.
https://github.com/jeroen/askpass/

Main advantage: no need for tcltk.

Also there has been integration with git and ssh so that in R, git can use askpass to ask for credentials.

Coming also soon : `credentials` :package:

https://github.com/r-lib/credentials

[2019-02-28 10:11] krlmlr opened #380 "FR: Type-stable version of lookup()"
Use case: I wanted to look up a commit for a tag, to compute ahead-behind information. (Perhaps it's another problem that `ahead_behind()` doesn't accept tags.)

- I use `lookup()`, hoping to find the commit that belongs to a known SHA
- I get a tag object
- `ahead_behind()` complains that it needs a commit

I see two ways out:

1. Commits, tags, branches etc. are synonymous, all functions that ac

[2019-02-28 15:39] mardibiase opened #381 "Diff should respect additional parameters passed to the function"
When passing additional parameters to diff (i.e. `git_diff_options` in libgit2 API as listed [here](https://libgit2.org/libgit2/#HEAD/type/git_diff_options)) it does not consider them and it discards the options.

Example:
[code]

Actual output:
[code]

Expected output:
[code]

[2019-02-28 16:18] JiaxiangBU opened #382 "Cannot pull the repo, "Unable to authenticate with supplied credentials""
[code]

I create a SSH key on the Github. However, I don't know how to input the argument `credentials`.
Anyone knows how to input it?

[2019-02-28 22:45] cderv commented on #382
for github, you can use `GITHUB_PAT` environment using `git2r::cred_token()` as credentials.

`git2r::pull(".", credentials = git2r::cred_token())` should work.

You can also setup SSH on your computer. This could help
https://happygitwithr.com/ssh-keys.html

`git2r` uses ssh key by default when `credentials = NULL`. You must provide a credential object (`git2r::cred_*)` if you haven't set up SSH

[2019-03-01 13:21] JiaxiangBU commented on #382
Hi @cderv

I try to make a reproducible example here but reprex is hard to do it.

[code]

<sup>Created on 2019-03-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

So I just paste the result in the console.

[code]

`git2r::cred_token()` works but `git2r::pull` gives the same result again.

[2019-03-01 17:51] cderv commented on #382
To be sure, did you configure the environment variable `GITHUB_PAT` with your github token in it in `.Renviron` file ?

[2019-03-02 15:46] stewid commented on #380
Thanks for reporting the problem and suggesting a solution. I have improved `ahead_behind()` and `descendent_of()` to also accept a tag or a branch. Could you please test that it solves your use case.

[2019-03-02 20:05] jdblischak commented on #379
https://github.com/jeroen/askpass/

@cderv Thanks for the suggestion! I'll  let @stewid decide if in the long-term he wants to make the switch from getPass to askpass across the entire package.

For the short-term I'd like to keep this Issue straightforward so that I can help mentor a new open source contributor. I've been happy with getPass so far (for both git2r and my package workflowr), and I'

[2019-03-03 10:23] #381 closed

[2019-03-03 10:26] stewid commented on #381
It's now possible to use `context_lines`

[code]
Output
[code]

[2019-03-03 10:32] mardibiase commented on #381
@stewid Thanks!

[2019-03-04 06:45] stewid commented on #379
@cderv thanks for suggesting askpass and credentials.

For this change, I suggest that we keep using getPass. In the long-term (when they are both on CRAN) I think it's a good idea to change and use askpass and credentials instead.

[2019-03-04 09:53] JiaxiangBU commented on #382
Hi @cderv , thanks for your help, actually I don'y set the github pat. I follow the tutorial in https://happygitwithr.com/github-pat.html, and successfully run `git2r::pull(credentials = git2r::cred_token())` in the R session.

[2019-03-04 09:53] #382 closed

[2019-03-10 20:50] #379 closed

[2019-03-12 11:11] ThierryO opened #384 "odb_blobs() return incorrect timestamp (timezone issue)"
git log shows `Date:   Tue Mar 12 11:52:07 2019 +0100`

`odb_blob()` returns `"2019-03-12 11:52:07 GMT"` whereas it should be either  `"2019-03-12 10:52:07 GMT"` or  `"2019-03-12 11:52:07 CET"`.

I got bitten by this when comparing `odb_blob()$when > Sys.time()`. This returned `TRUE` when the commit was less than one hour a go (the difference between GMT and CET).

[2019-03-12 18:43] 1beb opened #385 "Enforced version of libgit2-dev newer than what's available in older versions of ubuntu"
The newest available version of libgit2-dev is as follows for Ubuntu 16.04
[code]

However, you are enforcing 0.26 in configure.ac

https://github.com/ropensci/git2r/commit/262c4c37a75fea1ceb9960a2da410c3aeba5186b

Looks like the decision was made based on Fedora. Not sure it applies to other operating systems other than Fedora.

[2019-03-13 07:10] stewid commented on #385
To use a system installation of libgit2-dev it must be >=0.26 or the bundled libgit2 is used. The reason is simply that it's difficult to maintain git2r with older versions of libgit2 due to breaking API changes. I think the version of libgit-dev in Ubuntu 18.04 is >= 0.26.

[2019-03-13 07:10] #385 closed

[2019-03-17 10:26] #375 closed

[2019-03-28 16:08] ocschwar commented on #339
I am glad to see I'm not the only one requesting this. What would it take ?

[2019-04-01 05:59] stewid commented on #339
I'm working on it and I think I have a solution to this soon.

[2019-04-01 19:48] stewid commented on #380
Please reopen the issue if the change didn't solve your use case

[2019-04-01 19:48] #380 closed

[2019-04-01 21:12] krlmlr commented on #380
Thanks for the heads up, works for me now. Will try and report if I see any problems.

1f50723 manually checks the type of each input. Could we make use of a `lookup_commit()` S3 generic here, so that the dispatch happens automatically, and that other functions that could use this flexibility are easier to adapt?

[2019-04-02 15:20] ocschwar commented on #339
Awesome! I'm working on adding a traceability matrix to covr, and this feature would greatly enhance the value of wha tI'm doing.

[2019-04-03 15:16] dlindelof opened #386 "Provide access to `git describe`"
I'd like to tag the output of my R programs with the SHA of the current git HEAD. I know I can obtain this with `revparse_single`, but I would also like `-dirty` to be appended to this SHA if the repository currently has uncommitted changes. I believe this is only provided by `git describe`, but it would be great if I could access this directly using `git2r` instead of spinning off a new process w

[2019-04-04 14:25] cderv opened #387 "tag without message"
It seems that is not possible to create tag without message

[code]

whereas we can in command line

[code]

Is this not too strong ?
https://github.com/ropensci/git2r/blob/cc2a25a0252fe0aa9103c711726d83ba6a3c5087/R/tag.R#L55-L57

[2019-04-10 16:34] stewid commented on #380
I have now added the `lookup_commit` utility function to lookup a commit related to a git object and I'm also using that function in `ahead_behind` and `descendant_of` to simplify the code.

[2019-04-10 17:18] stewid commented on #339
I have added a `ref` parameter to the `commits` function to allow callers to specify the name of a tag or a branch to get the commits from, for example, `commits(repo, ref = "dev")` or `commits(repo, ref = "v0.23.0")`. The new functionality is in the master branch. Can you please check if this solves your use case?

[2019-04-10 17:56] stewid commented on #387
Thanks for reporting this. I have updated the code and It's now possible to have zero-length tag messages.
Note that `git tag v0.1.0` is a lightweight tag. They are not yet supported by git2r but I'll look into that.

[2019-04-10 18:02] stewid commented on #387
This works now
[code]
and my plan is to make
[code]
a lightweight tag, i.e. when `message = NULL`. What do you think?

[2019-04-10 19:51] ocschwar commented on #339
Just tested it, and it works, and solved my use case beautifully! I'm about to post YA feature request over  in covr, that is only useful thanks to this new functionality. Many thanks!

[2019-04-11 04:41] cderv commented on #387
Thanks !

And yes a lightweight would be better. It is was we use most often : a tag name with no message. It is what I expected `git2r::tag()` would work considering `message = NULL` was the default.

If it can be done, this would be awesome.

[2019-04-11 16:31] stewid commented on #339
@ocschwar Thanks for testing and glad to hear it works.

[2019-04-11 16:31] #339 closed

[2019-04-11 16:35] stewid commented on #387
It's now possible to create a lightweight tag. The new functionality is in the master branch. Can you please check if this solves your use case?

[2019-04-11 16:57] cderv commented on #387
This is working as expected. There is no more error.
[code]
About the printing, you see that
* some ` are added aroung one of the name
* When messages is set, messages are not printed but the name is instead, whereas it is at command line

[code]

[2019-04-11 17:08] stewid commented on #387
Thanks, I will investigate the printing functionality

[2019-04-12 07:31] rtaph opened #388 "Reading Content with Embedded Nulls"
I am using `git2r::content()` to read-in several versions of a text file from a repo. However, the file has embedded nulls that stop the input stream from being read-in fully.

Other base functions like `readLines()` and `read.csv()` have a `skipNull` argument to overcome this problem. Is this something that could be implemented with `content()`?

Thanks,

[2019-05-23 19:51] jdblischak opened #389 "merge result when repo contains unstaged conflicting changes"
Currently `merge` is designed to handle the following situations:

* The current branch is already up-to-date
* Merge conflict
* Fast-forward merge
* Automatic merge commit

This is reflected in the messaging:

https://github.com/ropensci/git2r/blob/11ad162f1eb48051e2ed176c2fe74b1e2e138413/R/merge.R#L112-L120

However, it does not handle well the situation in which there is an unstaged conflicting

[2019-06-06 14:22] jdblischak opened #390 "Error handling when push is rejected by remote host"
GitHub has a new feature where it will reject a `git push` signed with the user's email if they have enabled the setting [Block command line pushes that expose my email](https://github.blog/2017-04-11-private-emails-now-more-private/).

When running Git in the terminal, it is clear that the push failed and why. Here is the error message when I temporarily enable this privacy setting:

[code]

Howe

[2019-06-06 15:08] stewid commented on #389
Thanks for this suggestion. Yes, I agree that we should improve the handling of an unstaged conflicting change. It would be great if you can add tests and update the message returned for git_merge_result.

[2019-06-06 16:33] stewid commented on #390
Thanks, I wasn't aware of that feature.

So the push is rejected, but without an error message?

Unfortunately I have no idea if it's possible, for example, to change the libgit2 push options (https://libgit2.org/libgit2/#HEAD/type/git_push_options) in the code below to trigger the reject error. One of the option parameters is used to pass callbacks for the push operation, and maybe one of the cal

[2019-06-06 18:25] jdblischak commented on #390
Yeah, I was also stumped when I first saw the error during a workshop. I was able to figure it out only after searching the error message afterwards.

Correct. The call to `git2r::push()` completes and returns `invisible(NULL)`. But no new commits have been pushed to GitHub.

And sadly I can't be of much help investigating the C code. But if you try to implement something, I'm happy to test it out

[2019-06-19 14:02] ThierryO commented on #301
This functionality is now available as a dedicated package: [git2rdata](https://cloud.r-project.org/package=git2rdata)

[2019-06-19 14:02] #301 closed

[2019-06-19 14:33] ThierryO commented on #384
I've traced the problem to be in https://github.com/ropensci/git2r/blob/a963e0b5f04f0093c0272a06c433ff51c2cc0d63/R/odb.R#L67

`git show -s --format=%ct HEAD` returns 1560947363, which is the correct value.

`max(blobs$when)` returns 1560954563, which 7200 too much (2 hours or the difference between GMT and my timezone (CEST)).

It looks like `git2r_odb_blobs` takes the time zone into account inste

[2019-06-20 07:30] #384 closed

[2019-06-20 13:45] jdblischak commented on #324
Feature added in PR #372 :tada:

[2019-06-20 13:45] #324 closed

[2019-07-14 09:23] pat-s commented on #335
After all this time, it seems that I finally managed to set up the SSH stuff the right way so the SSH keys are automatically recognized.

For Linux, specifically Arch Linux, I am now using the [`keychain`](https://github.com/funtoo/keychain) library.

Surely this more of a niche user group but maybe its worth adding it as a quick link/note somewhere in "Happy Gith with R" or elsewhere.

Setup:

1.

[2019-07-14 09:23] #335 closed

[2019-07-18 20:04] jdblischak opened #394 "The working directory affects filepath behavior only on Windows"
In git2r unit tests, the working directory is outside of the Git repository being tested, and the file paths are relative to the root of the Git repository, e.g. `add(repo, "test.txt")`, where `test.txt` does not exist in the current working directory, but instead at `file.path(workdir(repo), "test.txt")`.

Thus the following code works on Linux, macOS, and Windows:

[code]

However, when the work

[2019-08-01 15:52] cderv commented on #135
Would it still be consider to add a `last_commit` wrapper ?
I am still in needs for that each time I want to create a branch from the head of the repo.
I may have miss a way to do that though... 🤔

[2019-08-01 18:44] stewid commented on #135
@cderv `last_commit()` already exists, see `?last_commit`

[2019-08-01 19:04] cderv commented on #135
Oh sorry. I did not see that. 😔 Looking for this I found this thread and not comment about it being implemented. I should have looked better. 😓
Thanks.

[2019-08-02 15:04] espinielli commented on #269
I have the same failure behind (corporate) proxy and success from home.
I have other R packages working and respecting HTTP_PROXY/HTTPS_PROXY settings from environment variables, but as @stewid wrote the issue is due to not having `git_proxy_options` being setup and passed to `git_remote_fetch` in the C call to libgit2.

Interfacing C to R is not in my skill set, otherwise I would really like to h

[2019-08-03 08:00] espinielli opened #395 "Handle (authenticating) proxy setting"
It looks like `git2r` is not handling PROXY configuration as from `libgit2` API:
(at least) two examples are described in #269 as symptoms of this deficiency.

For example `git_remote_fetch` calls in `git2r` code can have a `git_proxy_options` as part of its `git_fetch_options` argument in order to handle PROXY settings but that is not (yet) done and make certain use scenarios fail.

To summarize,

[2019-08-03 17:41] LechMadeyski commented on #267
Neither CRAN version of `git2r` nor dev version (installed via `install_github("ropensci/git2r")`) seems to support the ssh protocol. `libssh2` installed via `brew install libssh2`.

Any idea what is wrong?

[code]

[2019-08-04 08:36] stewid commented on #267
@LechMadeyski does it work if you install git2r with the following command?

[code]

[2019-08-04 08:47] LechMadeyski commented on #267
Unfortunately not. I installed and tested, removed git2r and installed once again. Nothing has changed.

[code]

[2019-08-07 16:34] antass commented on #267
Had the same issue (no SSH support despite installed `libssh2` and `libgit2` on MacOS), but @stewid's suggestion (installing from CRAN from source with `autobrew` enabled) worked! Thanks!

[2019-08-09 02:17] alexwhan opened #396 "Get ahead/behind for a remote"
I would like to be able to see the state of my local repo compared to the remote (the same way that `git status` shows eg:
`Your branch is ahead of 'origin/master' by 1 commit.`

I can see `git2r::ahead_behind` but I don't think there's a way to use a remote commit object.

Is it a matter of exposing libgit2 functionality in `git2r::status`?

[2019-08-14 08:44] ThierryO opened #397 "hashfile() yields a different output depending on the OS"
Below is a reprex. This causes a bug in the `git2rdata` package when switching between OS (ropensci/git2rdata#49).

[code]

Output:
- Windows: `1de50dce6d5139f98a8e69d4d45d26ae7d32c64f`
- Linux: `3e6fbe383532f4312bd0f5c9f30976f64d00e9cc`

Session info on Windows

<details>

[code]

</details>

Session info on Linux

<details>

[code]
</details>

[2019-08-14 19:00] vobencha opened #398 "Prioritize PKG_CONFIG path in configure"
Hi,

It looks like the configure script does not prioritize libraries on the PKG_CONFIG path. This seems wrong but I may be missing something.

The system I'm working on has libssl installed in both a system location and in a module. I want to use libssl in the module which is on my PKG_CONFIG path. The module location is not added to CPPFLAGS or LIBS because the check on line 284 detects ssl and

[2019-08-15 05:25] stewid commented on #397
The reason you get a different hash between Linux and Windows is beacuse the file content is different in your example. When you use `writeLines`, it writes the line separator with a LF on Unix/Linux and CRLF on Windows, therefore, the hash is different.

If you rewrite the example to use `writeChar` instead to control the line endings, the hash should be identical between Linux and Windows.

[cod

[2019-08-15 05:26] #397 closed

[2019-08-15 06:21] #398 closed

[2019-08-15 06:21] stewid commented on #398
Thanks

[2019-08-15 12:46] vobencha commented on #398
Thanks @stewid for the fix.

[2019-08-17 10:10] mik3y64 opened #399 "Windows issue with git2r"
I'm using Windows 10, and follow all the instructions in [happy git with r](https://happygitwithr.com/ssh-keys.html) to set up Git for Windows, SSH key with passphrase and everything.

It works great on both Rstudio's terminal (git add, commit, push) and Rstudio's git pane user interface (push pull button).

However, when it comes to using git2r package, it just doesn't work. I read up many soluti

[2019-08-17 17:51] stewid commented on #394
Thanks for reporting this.

I think we should aim for a consistent filepath behavior.

It's now possible to use an absolute path in `rm_file` 84a2f5f178fff945ed3ba1945a83becbc4f923d1

[2019-08-18 12:07] stewid commented on #399
Does it work if you use an SSH key without a passphrase?

[2019-08-20 10:17] mik3y64 commented on #399
@stewid Thank you for responding. It works if I use a SSH key without passphrase. Here is what I did

1. Remove my SSH key with passphrase from "~/../.ssh/"
2. Follow the instructions on [happy git with r](https://happygitwithr.com/ssh-keys.html) and setup and add SSH key without passphrase using Rstudio's built-in Git Shell terminal
3. Successfully pushed using both Rstudio's terminal and UI pull

[2019-08-29 17:10] dgJacks0n commented on #274
Any updates on this?  I see the same behavior in git2r version 0.25.2.  I'm using git2r to retrieve information about tags and having to test for, handle and align the values from the different return values adds overhead - plus the 'git commit' object that git2r returns does not include the tag name for a lightweight tag.

[2019-10-07 14:55] jdblischak commented on #389
I've been investigating this issue further so that I can handle it properly with my workflowr package. A few updates:

1. The problem does not only occur with unstaged changes. Conflicting changes that are staged generate the same issue. Thus only conflicting changes that are committed cause git2r to report a merge conflict.
1. The argument `fail = TRUE` only has an effect for committed changes

H

[2019-10-07 15:58] jdblischak commented on #389
However, things get more complicated when there are both unstaged and committed conflicted changes at the time of the merge. The expected behavior should be to alert the user that the unstaged changes need to be handled before the merge is able to complete (i.e. this is what Git does). Instead, this is the current git2r behavior:

1. When `fail=FALSE` (the default), the merge does not occur. Howev

[2019-10-07 17:25] adamrobinson361 commented on #244
I’ve recently started a project that uses travis and git2r and seem to be having similar problems on the latest version.

It seems to fail immediately when library(git2r) is called.

The error i am getting is as follows:

Error in path.expand(path) : invalid 'path' argument
706Calls: source ... discover_repository -> normalizePath -> path.expand

See full log here:

https://api.travis-ci.org/v3/jo

[2019-10-08 14:53] jdblischak opened #403 "Feature request: git ls-files"
Quickly obtaining a list of all the files being tracked in a Git repository would very useful. Would it be possible to add an R function to replicate the behavior of `git ls-files`?

There are currently two solutions (that I know of) to replicate this behavior with git2r:

1. Run `git2r::odb_blobs()`
1. Recursively process each Git tree (which is what we currently do for workflowr: see the functio

[2019-10-08 14:56] jdblischak commented on #256
Quick update. The argument `path` was added to `git2r::commits()` in git2r 0.26.0 (PR #372). It will return all the commits that touched a specific file (which is faster than generating `odb_blobs()` of the entire Git repo).

However, it does have the same limitation in that it does not follow file renames. Thus it is equivalent to `git log --no-follow`.

[2019-10-11 17:48] robertdj opened #404 "Get branches in shallow clone"
Hi

In a shallow clone a little extra work is needed to get other than the default branch. It is possible with the command line:

[code]

Does `git2r` expose a "remote set-branches" functionality?

[2019-11-02 20:28] strboul commented on #396
I think it would be legit to use [git rev-parse](https://git-scm.com/docs/git-rev-parse) in such cases. For example;

[code]

[2019-11-07 17:19] jdblischak commented on #394
I confirmed that this works with git2r 0.26.1.9000

[2019-11-07 18:38] jdblischak opened #406 "Increase speed of commits(path) by passing n to git2r_revwalk_list2"
The argument `path` to `commits()` was added in PR #372, which made it convenient to filter commits that touch a file path. While it is much faster than `odb_blobs()`, it is slower than a regular call to `commits()`, especially when using the argument `n` to limit the number of returned commits.

Using the git2r repo as an example (it has 2,596 commits), it takes about 50ms to run `commits()`, and

[2019-11-08 15:58] jdblischak opened #407 "How to reliably convert git_time to date?"
Given a `git_commit` object, I would like to be able to return the date of the commit as a character string. Here is my current approach:

[code]

However this occasionally sporadically fails, and the date is off by a whole day. I haven't been able to track down exactly when it happens, but I think it is related to the current time in the given timezone.

As an example, the recent release 1.5.0 of

[2019-11-13 16:21] jdblischak commented on #407
Another data point: My workflowr package was checked again on the CRAN server `r-devel-windows-ix86+x86_64`, and this time it passed.

[code]

https://www.r-project.org/nosvn/R.check/r-devel-windows-ix86+x86_64/workflowr-00check.html

To summarize so far:

* Passed: 04:49:51 CET, 23:33:16 CET
* Failed: 00:56:50 CET

[2019-11-13 22:11] stewid commented on #407
I'm not sure why it fails. Below is some code I've used to explore the timestamp in the commit and conversion to a character to try to understand why it fails.

This is the description of the timestamp format from https://git-scm.com/docs/git-log

[code]

<sup>Created on 2019-11-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Internally in git2r, `tz = GMT` is used instead

[2019-11-14 16:16] jdblischak commented on #407
@stewid Thanks for investigating.

My understanding is that `GMT` and `UTC` are synonymous. From [`?timezones`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/timezones.html):

[2019-11-14 16:55] jdblischak commented on #407
I've set up a CI build to run some [tests](https://github.com/workflowr/workflowr-pkg-tests/blob/master/scripts/test-git-time.R) every hour to see if I can reproducibly trigger the error.

[2019-11-15 17:24] jdblischak commented on #407
My 24 hour test completed. Using the timezone "America/New_York", the results were:

* 12:00 - 18:00: git2r returned **correct** date
* 19:00 - 23:00: git2r returned **wrong** date
* 00:00 - 12:00: git2r returned **correct** date

[2019-11-15 17:47] stewid commented on #407
Does it work if you change line 19 in your test script from
`date_git2r <- as.character(as.Date(as.POSIXct(c1$author$when))`
to
`date_git2r <- as.character(as.Date(as.POSIXct(c1$author$when$time, origin = "1970-01-01", tz = "UTC"))`
?

[2019-11-15 17:52] jdblischak commented on #407
OK. I think I figured it out. The date begins failing the last 5 hours of the day in the timezone America/New_York because GMT is 5 hours ahead.

[code]

`git2r:::as.POSIXct.git_time` hard codes "GMT":

[code]

And the default for `as.Date.POSIXct` is "UTC" (ie the same):

[code]

Thus if I want the day in the local timezone as is returned by Git, I need to set `tz` in the call to `as.Date()`:

[c

[2019-11-15 17:55] stewid commented on #407
Great, looking forward to see the results from your new test run  :+1:

[2019-11-15 17:57] jdblischak commented on #407
Note that this wouldn't work. It still returns the time 5 hours ahead:

[code]

[2019-11-18 19:49] jdblischak commented on #407
My solution of setting the local timezone in the call to `as.Date()` fixed the issue I was having. My hourly test passed for all 24 hours. Furthermore, the fix worked with `rhub::check_for_cran()` and `devtools::check_win_devel()` (I was worried that the timezone might not be set on the build machines).

[2019-11-18 22:04] stewid commented on #407
Thanks, your script that was run every hour was a very elegant way to address this issue.

[2019-11-18 22:04] #407 closed

[2019-11-18 22:09] stewid commented on #406
I'll check if it's possible to increase the speed by passing `n`

[2019-11-19 22:20] #406 closed

[2019-11-19 22:29] stewid commented on #406
This is my benchmark after passing n to git2r_revwalk_list2

[code]

[2019-11-20 01:44] jdblischak commented on #406
@stewid This is great! Thanks so much for taking the time to implement this. On my machine, re-running my benchmarks, setting `n = 1` reduced the median time from 133ms to 46.3ms.

[code]

<sup>Created on 2019-11-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9000)</sup>

[2019-11-25 16:32] jdblischak commented on #406
A update on the speed increase.

While the recent update does increase the speed of `git2r::commits(n = 1, path = ...)`, it is still slower than `git log -n 1`. This typically isn't such a big deal, but for some reason the problem is exacerbated on my University's cluster.

<details>
<summary>On my local Ubuntu:

`git2r::commits()` is ~2x slower than `git log`

</summary>

[code]

<sup>Created on

[2019-11-26 20:33] Tymon13 opened #409 "Get range of commits"
Hello,

I was trying to run `commits(ref="6813170..b0974a5")`, same as I'd run `git log`, but apperently it's not working in `git2r`.

Error message:

    Error in lookup_commit(.Call(git2r_reference_dwim, repo, ref)) :
      Error in 'git2r_reference_dwim': could not use '6813170..b0974a5' as valid reference name

Is it possible to add this functionality?

[2019-11-26 20:49] stewid commented on #406
git2r is not using the multi-threading feature of libgit2 to keep it simple. Maybe that is one reason for the increased difference on a compute node if it has more threads that git can use?

I have seen that work is underway to improve the performance of libgit2, for example,  https://github.com/libgit2/libgit2/issues/5038 or https://github.com/libgit2/libgit2/issues/4230

[2019-11-27 14:05] jennysjaarda opened #410 "no TLS stream available"
Hello, I was wondering if you could help me solve a an issue with no TLS stream. Everything was working fine yesterday, and I'm not sure if some configuration caused this? Any ideas?
I receive the error, after running any command `pull()`
[code]

[2019-11-27 16:03] jdblischak commented on #410
My guess is that your libgit2 was not properly linked to OpenSSL when it was compiled.

See related issues https://github.com/libgit2/libgit2/issues/4147 and https://github.com/libgit2/libgit2/issues/3786

Do you know if you are using a system installation of libgit2 or if the bundled libgit2 was compiled during installation? If you're not sure, try un-installing and re-installing git2r.

For exam

[2019-12-11 18:01] jdblischak commented on #406
@stewid Thanks for the explanation and links. That is very helpful.

For now what I've done to increase the speed of workflowr is to use `git log` if the user has Git installed on their machine.

[2020-01-07 20:18] jennybc opened #411 "Mention `make clean`?"
I just recovered from a git2r setback and wonder if the README should include a reminder for people to consider doing `make clean` or `devtools::clean_dll()`.

For other work, I was installing/upgrading a bunch of stuff via homebrew, which caused an update of libssl. Which broke git2r.

So then I needed to update libssh2. And that caused an update of libgit2. You get the idea.

I was trying to use

[2020-01-13 10:23] psyguy opened #412 "Authentication issue in git2r_push"
Hi,

I have set an SSH key pair (without passphrase) in RStudio and am getting this error when I try to push changes using `git2r` to GitHub:
[code]
A similar issue has been discussed in #152, and @mik3y64's solution (first pull/push using RStudio git GUI) didn't help (although the GUI's pull/push work properly).
https://github.com/ropensci/git2r/issues/399#issuecomment-522950677_

What can be don

[2020-01-17 12:41] jranke opened #413 "Rename a file with git2r (correlate to git mv)"
How would I rename a file like `git mv old_name new_name` with git2r? Copy the file with `base::file.copy` (or rename with `base::file.rename`), then `add` the new copy, then `rm_file`?

[2020-01-25 19:11] tallulandrews opened #414 "Conda, OpenSSL & git2r"
I've installed OpenSSL and libgit2 with anaconda but I still get the following error when trying to install git2r with the R I installed using conda:
Error: package or namespace load failed for ‘git2r’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/cluster/home/tandrews/Rpackages/00LOCK-git2r/00new/git2r/libs/git2r.so':
  /cluster/home/tandrews/Rpackages/00LOCK-git2r/00

[2020-02-11 23:16] bulam opened #415 "Getting `unsupported URL protocol` when using SSH authentication to clone a private repo"
I'm trying to clone a private repo with git2r::clone via SSH in R by doing

`git2r::clone("git@git.server.com:team_name/repo_name.git", "~/dev/")`

but, I keep getting

`Error in 'git2r_clone': unsupported URL protocol`

What could be wrong?

I am authenticated to the repo via SSH and can clone using the same URL in the command line with `git clone url`. I would like to avoid using https and enter

[2020-02-12 00:37] bulam commented on #415
I found my installation did not have SSH enabled.

Confirmed by running
`libgit2_features()` in R.
which said
[code]
To fix this, I reinstalled `libssh2` and `libgit2`. In my case, I had `libssh2`, but I was still missing `libgit2`. On a Mac, I did

`brew install libssh2` and `brew install libgit2`.

After that, I re-installed git2r from source with

`install.packages("git2r", type="source", confi

[2020-02-12 00:37] #415 closed

[2020-02-13 21:51] jdblischak commented on #394
I was recently burned by this behavior again. My relative paths were wrong. However, since they were relative to the root of the Git repository, they worked on Linux and macOS. Only Windows failed (silently).

While I see the convenience of being able to specify a path relative to the root of the Git repository, I think it introduces a lot of ambiguity. It's unknown if the path is relative to the

[2020-03-12 17:20] jzadra commented on #267
This fixed the issue for me.

[2020-03-12 21:47] ddhar1 opened #416 "git2r fails to install on my system"
I have Ubuntu xenial 16.04.04, and R version 3.6.2. I'm trying to install "git2r"

Due to some other hints I found when poking around, I installed ```sudo apt-get install libssl-dev``` and `sudo apt-get install libssl-dev`. I also tried to install OpenSSL with this tutorial: https://cloudwafer.com/blog/installing-openssl-on-ubuntu-16-04-18-04/

I however still get the following error
[code]
I sear

[2020-03-13 08:42] kevinrue opened #417 "could branch_create() automatically use last_commit() ?"
Hello,

At the moment, I do:
[code]

I was wondering whether `git2r::last_commit()` could be automatically filled in if `commit=NULL` ?

Thanks!

[2020-04-04 10:10] StarScream2010 opened #419 "function to generate version control graph for a git repo"
Is there any way, using git2r, to generate a version control graph like that you would see from
`$ gitk --all` in git bash (picture below)?

<img src="https://i.stack.imgur.com/ocBeY.png" width="300" height="350">

[2020-04-16 19:55] #404 closed

[2020-04-16 19:56] robertdj commented on #404
It appears that libgit2 does not (yet) have support for shallow clones

[2020-04-22 01:19] salim-b opened #420 "Check for min required version of libssh2"
git2r installed from source on Ubuntu 16.04 Xenial (with the Debian package dependencies `libgit2`, `libgit2-dev`, `libssh2` and `libssh2-1-dev` present) just fails when attempting to clone a repo over SSH:

[code]

From [another issue](https://github.com/ropensci/git2r/issues/330#issuecomment-368767281) I conclude that git2r needs `libssh >= 1.8.0`, but Xenial ships `libssh 1.5.0`.

Therefore I t

[2020-04-22 16:38] jdblischak commented on #414
If you're using conda, I recommend installing the R packages via conda as well. In this case:

[code]

If you have any trouble with the conda binary for git2r, you can open an Issue for the repository [r-git2r-feedstock](https://github.com/conda-forge/r-git2r-feedstock).

[2020-04-22 17:07] jdblischak commented on #298
@jemus42 git2r doesn't use the `GITHUB_PAT` environment variable. It will use the remote URL you have configured, which in this case is `git@github.com:tadaadata/tadaatoolbox.git`.

You are using SSH for authentication. Do your SSH keys have a passphrase? That might be the cause of the error. See related discussion in https://github.com/jdblischak/workflowr/pull/203.

[2020-04-25 14:43] #420 closed

[2020-04-25 14:43] stewid commented on #420
Thanks

[2020-04-26 08:56] #417 closed

[2020-04-26 08:56] stewid commented on #417
Thanks

[2020-04-26 16:14] jdblischak opened #421 "`ssh_key_needs_passphrase()` always returns `FALSE`"
The function [`cred_ssh_key()` ](https://github.com/ropensci/git2r/blob/134692ddb25eac039f16672309557a1b545554c0/R/credential.R#L157) calls the function [`ssh_key_needs_passphrase()`](https://github.com/ropensci/git2r/blob/134692ddb25eac039f16672309557a1b545554c0/R/credential.R#L181) to determine if a key requires a passphrase. I was informed by @jakejh in https://github.com/jdblischak/workflowr/p

[2020-04-27 08:07] rappster commented on #412
I'm running into the same issue with CRAN version `0.26.1` and dev version `0.26.1.9000`

[2020-04-29 21:28] jdblischak commented on #421
I investigated more. I believe the issue is the `-o` flag I passed to `ssh-keygen` to create a more secure key:

[code]

I created 4 test keys:

* Default PEM format without a passphrase
* Default PEM format with a passphrase
* OpenSSH format without a passphrase
* OpenSSH format with a passphrase

[code]

`ssh_key_needs_passphrase()` expects that a private key with a passphrase contains the strin

[2020-04-30 02:14] jdblischak commented on #412
@rappster Are you using SSH keys for authentication? If yes, do the SSH keys have a passphrase? Can you try the following and report the results?

[code]

[2020-04-30 06:21] stewid commented on #421
Thanks for investigating this. I think a solution for git2r could be to instead use the credentials package (https://cran.r-project.org/web/packages/credentials/index.html) to help handle the ssh keys.

[2020-04-30 10:40] jdblischak commented on #421
@stewid Sounds good! How much work do you anticipate this will be? Will it require breaking changes, or will the new capabilities be able to be added on top of the existing infrastructure? Please let me know how I can help you test and/or implement this.

[2020-04-30 14:02] stewid commented on #421
Thanks. I don't know how much time will be required to make this refactoring, but hopefully it shouldn't be too much. I would rather we succeed in making this change by adding it on top of the existing infrastructure. I suggest that we keep the `credentials` argument for backward compatibility. The `gert` package has the arguments `password = askpass` and `ssh_key = NULL`. If we also add these for

[2020-04-30 14:27] stewid opened #423 "Submit a new version to CRAN that can build against the recently released libgit2 v1.0.0"

[2020-04-30 14:27] rappster commented on #412
@jdblischak thanks for getting back to me on this.

Turns out I'm not using a passphrase (even though this was a good reminder that I should; I set up the SSH key a while ago and totally forgot ;-) )

I'm having trouble running a reprex due to working directory issues when using `reprex::reprex()`, but here's the code I ran manually annotated:

[code]

My session info

[code]

[2020-05-01 21:13] jdblischak commented on #412
@rappster Thanks for the information. So unfortunately the trick that worked in https://github.com/jdblischak/workflowr/pull/203 didn't work for you.

Let's see if your key is in OpenSSH or PEM format.

[code]

It will either say

[code]

or

[code]

For more context see #421

[2020-05-05 21:22] pat-s opened #424 "`git add`: `force = TRUE` has no effect"
Also tested with {gert}. Maybe an issue of ligbit2?
Using git directly works.

[code]

<sup>Created on 2020-05-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-05-06 09:41] mine-cetinkaya-rundel opened #425 "Error when installing git2r from source"
I'm trying to install git2r from source after upgrading to R 4.0 and I'm getting the following error.

[code]

<sup>Created on 2020-05-06 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-05-06 16:42] aadler commented on #425
I have the same issue with R 3.6.3 but **not** with R.4.
## 3.6.3
[code]
## 4.0
[code]

[2020-05-06 18:58] stewid commented on #425
@mine-cetinkaya-rundel Do you get any error output from the installation process?

@aadler I have moved the declaration of the variable `j` to before the for-loop, so hopefully it builds now.

[2020-05-06 21:04] mine-cetinkaya-rundel commented on #425
@stewid This is what I get on 4.0:

[code]

[2020-05-07 16:11] aadler commented on #425
Hi, @stewid
Confirming that `devtools::install_github("ropensci/git2r")` built properly on R 3.6.3. Curious as to why this wasn't an issue on R.4? Thanks!

[2020-05-07 17:17] stewid commented on #425
@mine-cetinkaya-rundel Thanks. Is it possible that you have two versions of libgit2 installed? The build configuration script detects libgit2 and then checks for various functions in that library. In libgit2 v0.99, several functions were renamed (https://github.com/libgit2/libgit2/releases/tag/v0.99.0) and git2r checks and identifies functions in v0.99 (`checking whether the libgit2 function git_o

[2020-05-07 23:57] mine-cetinkaya-rundel commented on #425
@stewid I upgraded libgit2 to version 1.0.0 and this seems to have done the trick. I'm not sure what changed that touching my libgit2 version became needed when I updated R, but it's working now so I'd be happy to close the issue unless there's something else you're tracking here.

[2020-05-08 06:44] stewid commented on #425
@mine-cetinkaya-rundel Glad to hear that it worked to install with libgit2 v1.0.0 :+1:

[2020-05-08 06:44] #425 closed

[2020-05-08 13:44] milanmlft opened #426 "Unable to find libssh2 on macOS 10.15 R 4.0"
I've been trying to get `git2r` installed with SSH support, but it keeps complaining that it cannot find `libssh2` even though I am absolutely positive that it is installed (also tried uninstalling and re-installing with `brew` a couple of times, to no avail).

Location of `libssh2` libs and headers:

[code]

Nevertheless, when I try to install `git2r` from source, I get the following warning:

[c

[2020-05-08 14:57] stewid commented on #426
Does it work if you run
[code]

[2020-05-08 15:04] stewid commented on #423
git2r version 0.27.1 that works with libgit2 v1.0.0 is now on CRAN

[2020-05-08 15:04] #423 closed

[2020-05-08 16:19] milanmlft commented on #426
Nope, same problem:

[code]

[2020-05-11 03:43] davidski commented on #271
Baring support for `--recursive`, is there another way to bring in submodule content when cloning a repository?

[2020-05-12 03:44] davidski commented on #421
I banged my head on this OpenSSH v. PEM encoding issue for quite a while today. For others that come across this problem (OpenSSH format is the standard on much of MacOS installs), an OpenSSH formatted key can be converted to PEM via `ssh-keygen -p -m PEM -f /path/to/private_key`.

The symptom of having the OpenSSH formatted private key is for operations (a clone in my case) to fail with a rather

[2020-05-18 14:20] stefanoborini opened #427 "git2r fails to compile on macos, but compiles occasionally due to unclear reasons."
If I try to compile git2r, I get the following error message:

[code]

However, occasionally I got it to work, with unpredictable consistency. A difference arises in the config:

[code]

Note how the git_oid_is_zero is marked as "no" this time. the above results occurred in the same session, the only difference being that I installed and then immediately uninstalled dplyr. Nothing else has changed

[2020-05-18 14:32] stefanoborini commented on #427
This was solved by upgrading libgit2 using ``brew upgrade libgit2``

[2020-05-18 14:32] #427 closed

[2020-05-21 17:25] bergen288 opened #428 "Failed git2r installation on AIX7.2 since XCOFF32 object files are not allowed in 64-bit mode"
I am trying to install R packages (R base is 3.6.1) on AIX7.2 server (64 bit) with no internet access.  The git2r package is failed with the following error message.  Can you please help me to resolve the issue?

gcc -maix64 -shared -Wl,-brtl -Wl,-G -Wl,-bexpall -Wl,-bnoentry -lc -L/opt/freeware/lib64/R/lib -L/opt/freeware/lib64 -L/opt/freeware/lib -L/usr/lib -o git2r.so git2r.o git2r_S3.o git2r_a

[2020-05-21 20:22] bergen288 commented on #428
The package has been installed successfully after the obsolete "so" file was renamed

[2020-05-21 20:22] #428 closed

[2020-05-27 09:06] AZhyrenkov commented on #267
For me it doesn't help, unfortunately:

[code]

shows
[code]

libssh2 is installed:
[code]

[code]

[2020-05-30 22:57] jemus42 commented on #426
Same issue here. I remember having the same problem a while ago, and *back then* the suggested `autobrew=yes` fix worked, but apparently not this time.

R 4.0.0 / macOS 10.15.4

[2020-06-18 15:03] njspix commented on #426
Apparently this is caused by Homebrew not symlinking openssl/libssh2:

[code]

The following worked for me:
[code]

[2020-06-18 15:29] milanmlft commented on #426
Thanks, that seems to have done the trick! Just to be sure I reinstalled `libgit2` and `libssh2` with Homebrew first.

[2020-06-26 09:25] #426 closed

[2020-06-30 06:59] ThierryO opened #429 "Utility function"
Would you accept a PR which adds a function that brings a local repo inline with the remote? It checks all local branches and does the following:

1. remove local branches if they are fully merged into `origin/master`
1. display the name of the branch if it is behind its counterpart at `origin`
1. remove the local branch if it diverged from `origin` after asking twice for user consent

[2020-07-02 15:59] stewid commented on #429
In the near future, I would like to prioritize work on improving the credentials functionality over adding new features. Therefore, I
feel a little hesitant to add and maintain that utility function. What is the use case?

[2020-07-28 09:25] ordiology commented on #267
I know this issue is closed, but I had the same problem and none of the above worked. I thought I'd share my fix and save some frustration for others. I found I was missing libgit2.

This worked for me...
brew install libssh2
brew install libgit2.

After that, re-install git2r from source with...
install.packages("git2r", type="source", configure.vars="autobrew=yes")

I found the solution here:
ht

[2020-09-24 18:58] GShotwell commented on #267
I had the same problem and the above worked for me.

[2020-11-04 07:52] KGillinder commented on #267
Same problem; @ordiology fix resolved the issue on macbook pro.

[2020-11-18 11:09] AshesITR commented on #403
I would really appreciate this because especially in larger git repos with many commits the two alternatives are very slow since they go through the entire history.

[2020-12-12 19:37] jeroen opened #430 "Test failure with libgit2 1.1.0"
[code]

[2020-12-12 21:42] stewid commented on #430
Thanks for reporting the test failure.

[2020-12-13 23:49] jeroen commented on #430
Actually maybe you had already fixed this? I am seeing this problem only for the current CRAN version, but not with the github version.

[2020-12-14 01:36] #430 closed

[2020-12-14 21:47] stewid commented on #430
I didn't know about the problem, but I fixed it this weekend. So I plan to submit to CRAN this week.

[2020-12-29 08:10] ignatenkobrain opened #431 "Release version that works with libgit2 1.1.x"
Seems 0.27.1 that's released on CRAN does not work with libgit2 1.1.x, the tests are failing.

I saw some commits from master branch do fix some of the issues but not all of them.

[2021-01-08 17:22] muschellij2 commented on #85
The only comment I would have to above (as I've been looking for this answer is to use `on.exit`:
[code]

[2021-01-11 13:25] fenguoerbian opened #432 "The check for git_oid_is_zero only reports warning, not error"
When I tried to install git2r 0.28 from source, the configuration check for libgit2 reports:

checking whether the libgit2 function git_buf_dispose is available... yes
checking whether the libgit2 constant GIT_OBJECT_ANY is available... yes
checking whether the libgit2 function git_error_last is available... yes
checking whether the libgit2 function git_oid_is_zero is available... yes
----- Result

[2021-01-12 20:30] stewid commented on #432
Thanks for reporting this.

I'm not sure why the test only gives a warning and not an error. The `-Werror` option is passed to the configuration test to make all warnings become errors. However, it seems that the option `-Werror` is missing in your config.log. I think this can happen
if you have a `~/.R/Makevars` file that contains a setting for `PKG_CFLAGS`?

[2021-01-12 20:31] stewid commented on #431
I new version (0.28.0) is now on CRAN.

[2021-01-12 20:31] #431 closed

[2021-01-13 02:57] fenguoerbian commented on #432
Thanks! I do have `PKG_CFLAGS=-fopenmp` in my `.Renviron`. After removing that the installation finishes without any problem.

[2021-01-13 02:57] #432 closed

[2021-02-04 22:14] #416 closed

[2021-03-15 14:40] dseynaev opened #433 "git LFS support"
lib2git seems to support this through smudge/clean filters

any idea what would be necessary to get lfs working through git2r?

[2021-04-17 19:20] tverbeke commented on #433
Would be nice indeed to be able to work with Git LFS enabled repositories from R!

[2021-04-17 19:35] stewid commented on #433
I apologize the late reply. I have not used git-lfs with libgit2 so I do not know what is required. If you find any example of how it works and are interested in implementing it, a pull request is much welcome.

[2021-05-11 19:20] ThierryO opened #434 "setting a different default branch name."
Is is possible to take the default branch name for the git settings rather than hard coding it to `master`? Setting `git config --global init.defaultBranch main` has no effect when using `git2r::init()`.

https://github.com/ropensci/git2r/blob/f9425f51f9ff578442391947899d4ccf6895d91f/src/libgit2/src/repository.c#L71

[2021-05-11 19:51] stewid commented on #434
Hi @ThierryO ,

That feature was added to libgit2 v1.1 (https://github.com/libgit2/libgit2/releases/tag/v1.1.0) so it works if you first install the latest version of libgit2 before installing git2r. However, the bundled libgit2 version is 0.28, which does not have that feature. A couple of months ago I tried to update the bundled version to 1.1, but it was something I wasn't able to fix (I don't

[2021-05-12 08:02] ThierryO commented on #434
Thanks for the quick reply. I'll wait until you can bundle the new version of libgit2.

[2021-05-12 08:02] #434 closed

[2021-06-01 12:39] LiamKarlMitchell commented on #296
For anyone else who happens to be googling this issue for gitkraken on wsl2
djm158's commands fixed it for me on Ubuntu WSL2 with gitkraken.

[2021-06-17 18:08] itcarroll commented on #296
Closing, b/c not a git2r issue. Useful info above tho.

[2021-06-17 18:08] #296 closed

[2021-07-15 17:41] jdblischak commented on #424
@pat-s Is `docs/` listed in your `.gitignore`? It's my understanding that libgit2 can force add files that were specifically ignored, but it can't force add files within ignored subdirectories. See my PR #290. It contains unit tests to confirm this behavior, but I don't know how to best solve it.

[2021-07-16 00:43] jdblischak opened #435 "Feature request: `git_stat_files()`"
The gert package has a nice function called `git_stat_files()`. For each file passed to it, it returns the most recent commit, modification time, and more. Would it be possible to implement a similar function in git2r?

* R function [`git_stat_files`](https://github.com/r-lib/gert/blob/cdd6d399027b84bfd597d7cd5e4e188903570809/R/commit.R#L194)
* C function [ `R_git_stat_files`](https://github.com/r

[2021-07-16 07:12] pat-s commented on #424
At this [point in history](https://github.com/mlr-org/mlr3gallery/blob/77f5d9fe708da18f992b8fc2e1861ee6018ec3fe/.gitignore) it seems `docs/` was not in `.gitignore`.

That's good to know!

[2021-07-17 14:15] stewid commented on #435
Thanks, that is indeed a nice function. I've sketched on a similar function that I can add to git2r

[code]

[2021-07-19 15:11] jdblischak commented on #435
@stewid Thanks for the quick response! I tested the function. One suggestion is to limit the number of commits returned. This reduced it from 20 seconds to 2 seconds when I ran `git_stat_files()` on the 36 R files in `git2r/R/`.

[code]

There is still a speed difference though. The gert implementation is twice as fast (1s vs 2s). I only mention this because this is a bottleneck step in my code. S

[2021-07-20 08:13] stewid commented on #435
@jdblischak thanks for the feedback. I'm working on a faster version.

[2021-07-21 08:03] stewid commented on #434
@ThierryO I've been able to update the bundled libgit2 source code to the recently released v1.1.1.

[2021-07-23 20:02] jdblischak commented on #424
I must be missing something, because I don't see any pattern in that `.gitignore` that would ignore `docs/CNAME`. In other words, I don't see why `--force` would be needed in this situation in the first place.

Regardless though, the conclusion is still that libgit2 doesn't behave the same as Git itself when interpreting `.gitignore` and `--force`.

[2021-08-12 17:14] maximilianmordig commented on #410
For me, the following worked
[code]
Then in R
[code]

[2021-09-08 13:56] ThierryO commented on #429
For the time being I wrote a [`new_branch()`](https://inbo.github.io/checklist/reference/new_branch.html) function and added it our `checklist` package.

I noticed that novice git users keep a lot of obsolete branches (fully merged with the main branch on GiHub) on their machine because they don't know how to get ride of them. They often start a new branch from an outdated main branch or from a no

[2021-09-13 09:03] #298 closed

[2021-10-11 20:09] azumukupoe opened #436 "Error in 'git2r_clone': failed to mmap. Could not write data: Permission denied"

[2021-11-01 15:33] azumukupoe commented on #436
nvm solved it by setting USER and PASSWORD instead of disabling authentication

[2021-11-01 15:33] #436 closed

[2021-12-09 19:18] campbead opened #437 "workdir returns NULL after initializing"
After initializing a repository using init command, the `workdir `function returns `NULL`

Here is my minimal example using examples from the introductory materials:
[code]

Help here would be great.  Happy to provide any addition info.

for context my `session_info`:
[code]

[2021-12-09 20:27] campbead commented on #437
I figured this out.  The bare = TRUE argument prevents a workdir from being created

[2021-12-09 20:27] #437 closed

[2021-12-16 18:22] englianhu commented on #319
[code]
Installed through terminal.

[code]
`ssh` still shows `FALSE`, relevant https://github.com/ropensci/git2r/issues/140#issuecomment-101410628 & https://github.com/r-lib/devtools/issues/796#issuecomment-390695559.

[2021-12-17 15:22] jdblischak commented on #319
@englianhu Please open a new Issue. This old issue was about HTTPS support, which was already fixed. Your issue is with SSH support, not HTTPS. In your new issue, please include the output from running `install.packages("git2r")`. It contains diagnostic messages about its attempts to find the required system packages to support SSH. Also please include the output of `sesssionInfo()`.

[2021-12-23 05:45] mohammadFromBengal commented on #407
private fun getCityName(lat: Double, long: Double): String {
        var geoCoder = Geocoder(this, Locale.getDefault())
        var adress = geoCoder.getFromLocation(lat, long, 3)

        return adress.get(0).locality
    }

    private fun farToCel(far: Float): Int {
        return (far - 273.15).toInt()
    }

    private fun dateFormat(milisecond: Long): String {
        return SimpleDateForma

[2022-02-02 03:38] muschellij2 opened #438 "Segfault with NULLs"
I don't know why I get a segault here exactly, but I boiled it down to the case where you have a URL and `NULL` for credentials and repo.  I ran into this when using `remotes::install_bioc` test.

# Libgit2 version
[code]

<sup>Created on 2022-02-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

[2022-02-02 03:41] muschellij2 commented on #438
This may have to do with the fact I'm running on a docker image, so I think when `credentials` queries the SSH agent, there may be some odd stuff going on or permissions issues.

[2022-02-10 17:24] muschellij2 commented on #438
Same as https://github.com/ropensci/git2r/issues/264

[2022-02-10 17:43] muschellij2 commented on #438
Fixed in `libgit2 1.3.0` via (`shell`):
[code]

`path` is set to a repo:
[code]

<sup>Created on 2022-02-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-02-24 13:50] MislavSag commented on #412
I encounter the same error when running:
[code]
The error:
[code]
When I type i the terminal:
[code]
I get:
[code]
What can I try next?

[2022-03-08 08:52] LoopLupe commented on #296
very userful, thanks

[2022-04-27 02:48] jonathan-g opened #439 "Can't push with SSH under R 4.2 on Windows 10"
## Short description:

Under R 4.1.3, I can push to github with SSH transport using `git2r::push()`

Under R 4.2.0 on the same computer, `git2r::push()` fails with
[code]

## Code to reproduce :

[code]

The remote repository has URL `"git@github.com:<username>/<repository>.git`

This code succeeds under R 4.1.3 but fails under R 4.2.0. I have freshly installed `git2r` under R 4.2.0.

## Session I

[2022-06-01 10:48] tansaku commented on #259
I've tried install lbgit2, zlib, openssl, devtools and cannot seem to get git2r version 0.23.0 installed on monterey intel chip or M1 :-(

[2022-06-14 08:14] munoztd0 opened #440 "Error in 'git2r_remote_ls': too many redirects or authentication replays"
Hello,

I started getting this error recently:

 Error in 'git2r_remote_ls': too many redirects or authentication replays

Can anyone give me more information onto what it could be caused, everything work fined for months and now I get that everytime I try to install a package form our private DevOps Azure repo.

Is there a limit of requests (per months/ per year ?)

Thanks in advance.

[2022-07-13 03:54] tdhock opened #441 "list all commits between two commits?"
Hi! I was wondering if there is some way, given two commits A and B (sha or tag), to list all commits between them, similar to the A..B and A...B syntax on command line? https://stackoverflow.com/questions/54989224/list-of-all-commits-between-2-commits#54992168
Related, is there some way to do something analogous to git bisect in git2r?
I looked at docs and list of functions provided but I did not

[2022-07-13 11:26] stewid commented on #441
Hi,
Unfortunately, it is not possible to bisect or list all commits between two commits using git2r. Maybe it would be possible to implement the list functionality in git2r using the `git_revwalk_push_range` functionality in libgit2 (https://libgit2.org/libgit2/#HEAD/group/revwalk/git_revwalk_push_range)? Currently, git2r uses the `git_revwalk_push` function https://github.com/ropensci/git2r/blob/

[2022-07-13 16:26] tdhock commented on #441
OK, thanks for the clarification. If you can make one, it would be useful to have a wiki page or FAQ in the docs which explicitly lists features like this which are present in the command line tool but not present (yet) in git2r? (for users like me which assume naively that git2r offers basically the same functionality as the command line git program)

[2022-08-28 23:42] jonathan-g commented on #439
I'm seeing this error too with R 4.2.1 and git2r  0.30.1.

[2022-08-28 23:42] jonathan-g commented on #439
I'm still seeing this error with R 4.2.1.

[2022-10-14 15:11] frafra opened #442 "git2r.so: undefined symbol: git_hash_sha1_ctx_init"
[code]

Debian 11, git installed, together with r-base.

[2022-10-14 15:43] stewid commented on #442
Hi, `git2r` does not depend on `git` but on the C library `libgit2`. Does it work if you first install `libgit2-dev`?

[2022-10-14 19:10] frafra commented on #442
You are right, thank you. `libgit2-dev` had to be installed.

[2022-10-14 19:10] #442 closed